<!-- about_us part start-->
<section class="about_us right_time section_padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 col-lg-6">
                <div class="learning_img">
                    <img src="assets/about_img_1.png" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="about_us_text">
                    <h2>Easy to Use
                        Mobile Application</h2>
                    <p>Deliver your product, content, and selling experience into a compact mCommerce enabled iOS and
                        Android Smartphones app! All our eCommerce mobile applications work in synchronization with web
                        app backend for a variety of industry verticals including grocery, fashion,
                        consumer electronics, furniture and more.</p>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/about_shape.png" alt="" class="about_shape_1">
    <img src="assets/animate_icon/Shape-1.png" alt="" class="feature_icon_1">
    <img src="assets/animate_icon/shape.png" alt="" class="feature_icon_4">
</section>
<!-- about_us part end-->