/**************** banner part css start ****************/
@import "variables";
@import "mixins";
@import "button";
@import "common";

.banner_part{
  position: relative;
  overflow: hidden;
  opacity: 1;
  background-image: url(/assets/king.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
  padding-bottom: 12vw;
  -webkit-transform-origin: 50% 85%;
  transform-origin: 50% 85%;
  .banner_text{
      display: table;
      width: 100%;
      height: 800px;
      .banner_text_iner{
          display: table-cell;
          vertical-align: middle;


          p {
              font-size: 1.5rem;
              font-weight:300;
              color: white;
          }
      }
      @media #{$tab}{
         height: 650px;
      }
      @media #{$medium_device}{
          height: 650px;
      }
      h5{
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 500;
          color: #556172;
          margin-bottom: 14px;
      }
      h1{
          font-size: 55px;
          text-transform: capitalize;
          font-weight: 700;
          margin-bottom: 55px;
          line-height: 1.18;
          color:rgb(230, 230, 230);
          @media #{$small_mobile}{
              font-size: 25px;
              margin-bottom: 15px;
              line-height: 1.3;
          }
          @media #{$large_mobile}{
              font-size: 30px;
              margin-bottom: 15px;
              line-height: 1.3;
          }
          @media #{$tab_device}{
              font-size: 40px;
              margin-bottom: 15px;
              line-height: 1.3;
          }
          @media #{$medium_device}{
              font-size: 40px;
              margin-bottom: 15px;
              line-height: 1.4;
          }
          span{
              color: $color-primary;
          }
      }
      p{
          font-size: 15px;
          line-height: 1.8;
          font-family: $color-secondary; 
          color: $color-white;
          margin-bottom: 57px;
          padding-right: 140px;
          @media #{$tab}{
              padding-right: 0;
              margin-bottom: 10px;
           }
           @media #{$medium_device}{
              padding-right: 0;
           }
      }
      .banner_btn_1{
         
          border: 0px solid transparent;
          margin-right: 28px;
          background-image: -webkit-gradient(linear,left top,right top,from(#090930) ,to(#e9234d));
          background-image: linear-gradient(to right,#090930 ,#e9234d);
          padding: .4rem 2rem .3rem;
          font-size: 1.2rem;
          border: 1.5px solid #e9234d;
          color: #fff;
          border-radius: 20px;
          -webkit-animation-name: pulse;
          animation-name: pulse;
          -webkit-animation-duration: .8s;
          animation-duration: .8s;
          -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;

          &:hover{
              background-color: $color-secondary !important;
              color: $color-white;
          }
      } 
      .banner_btn_2{
          color: $color-white;
          border: 1px solid $color-white;
          background-color: transparent;
          border: 0px solid transparent;
          margin-right: 28px;
          background-image: -webkit-gradient(linear,left top,right top,from(#090930) ,to(#e9234d));
          background-image: linear-gradient(to right,#090930 ,#e9234d);
          padding: .4rem 2rem .3rem;
          font-size: 1.2rem;
          border: 1.5px solid #e9234d;
          color: #fff;
          border-radius: 20px;
          -webkit-animation-name: pulse;
          animation-name: pulse;
          -webkit-animation-duration: .8s;
          animation-duration: .8s;
          -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          
          &:hover{
              background-color: $color-secondary !important;
              color: $color-white;
              border: 1px solid transparent;
          }
      }
  }

  .banner_img{
      img{
          border-radius: 100%;
      }
  }
}
@keyframes fadeInUp {
    from { 
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
.fadeIn {
opacity: 0;
animation: fadeInUp 1s ease-in-out 0s forwards;
  &.first {
    animation-delay: 1s;
  }
  &.second {
    animation-delay: 3s;
  }
  &.third {
    animation-delay: 5s;
  }
  &.fourth {
    animation-delay: 7s;
  }
  &.fifth {
    animation-delay: 9s;
  }
  &.sixth {
    animation-delay: 11s;
  }
 

}

/**************** hero part css end ****************/