<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>Setting the Global Standard
                            in Automotive World</h1>
                        <p>The Thing Motiviates Us Is A Very Common Form of Motivation And That Is With Other Folk
                            Counting On Me, It's So Easy To Be Motivated</p>
                        <a routerLink="/registration" class="btn_2 banner_btn_1">Recruitment Registration</a>
                        <a href="#" class="btn_2 banner_btn_2">Subscribe to newsletter !</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner_img d-none d-lg-block">
                    <img src="/assets/banner_img.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>