::selection {
    background: #4ECDC4;
    color: #fff;
    }
header.black-bg{
    background: #22242a;
    border-bottom: 1px solid #393d46
}
header.header{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
    min-height: 60px;
    padding: 0 15px;
}

header div.sidebar-toggle-box{
    float: left;
    padding-right: 15px;
    margin-top: 20px;
}

header div.sidebar-toggle-box .fa-bars{
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #797979;
}
header div.sidebar-toggle-box .fa-bars:hover{
    color: #f2f2f2;
}

header a.logo{
    display: block;
    text-decoration: none;
    outline: none;
    font-size: 24px;
    color:#f2f2f2;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
}

header a.logo b{
    font-weight: 900;
}

header a.logo span{
    color: #4ECDC4;
}

header ul.top-menu li{
    float: left;
}

header ul.top-menu li a.logout{
    color: #f2f2f2;
    display: block;
    font-size: 12px;
    -webkit-border-radius:4px;
    border: 1px solid #64c3c2 !important;
    padding: 5px 15px;
    margin-right: 15px;
    background: #4ECDC4;
    margin-top: 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition:all 0.3s ease;
    transition: all 0.3s ease;

}
header ul.top-menu li a.logout:hover{
    border: 1px solid #b6b6b6 !important;
    background-color: transparent;
    border-color: #b6b6b6 !important;
}


aside{
    background-color: #797979;
    font-size: 14px;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

aside #sidebar{
    width: 210px;
    height: 100%;
    position: fixed;
    background: #2f323a;
    overflow: hidden;
    outline: none;
    font-size: 13px;
    display: none;
}

aside #sidebar ul.sidebar-menu{
    margin: -2px 0 0;
    margin-top: 75px;
    padding: 0px;
}
aside #sidebar ul.sub{
    display: none;
    margin: -2px 0 0;
    padding: 0px;
    padding-left: 32px;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition:all 0.7s ease;
    transition: all 0.7s ease;
}

.centered{
    text-align: center;
}

aside #sidebar ul.sidebar-menu p a{
    text-decoration: none;
    outline: none;
} 

aside #sidebar ul.sidebar-menu h5{
    color: #f2f2f2;
    font-weight: 700;
    font-size: 14px;
}

aside #sidebar ul.sidebar-menu li{
    position: relative;
    margin: 10px 10px 10px 5px;
    list-style: none;
    cursor: pointer;
}
aside #sidebar ul.sidebar-menu li.mt{
    margin-top: 25px;
}

aside #sidebar ul.sidebar-menu li a{
    color: #aeb2b7;
    display: block;
    text-decoration: none;
    padding: 15px 0px 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition:all 0.3s ease;
    transition: all 0.3s ease;
}
aside #sidebar ul.sidebar-menu li a.active{
    background: #4ECDC4;
    color: #fff;
    display: block;
}

aside #sidebar ul.sub li a.active{
    background: #2f323a;
    color: #4ECDC4;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition:all 0.3s ease;
    transition: all 0.3s ease;
}
aside #sidebar ul.sidebar-menu li a:hover{
    background: #4ECDC4;
    color: #fff;
    display: block;
}
aside #sidebar ul.sub li a:hover{
    background: #2f323a;
    color: #4ECDC4;
    display: block;
}
aside #sidebar ul.sidebar-menu li a i{
    font-size: 15px;
    padding-right: 6px;
}
aside #sidebar ul.sidebar-menu li a i span{
    display: inline-block;
    font-size: 12px;
}
aside #sidebar ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

article{
    padding-left: 210px;
    padding-top: 75px;
    background-color: #eeeeee;
}