<div class="main-container" id="about">
  <div class="container text-center">
    <div class="row text-center justify-content-center top-section">
      <div class="col-10 col-md-10 col-lg-8">
        <div class="top-section-heading">We Are Doing A Little Mile Of This And Of Continued That Support</div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-6 col-12">
        <img src="{{ABOUT_IMAGE}}" class="img-fluid" />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-9 col-12">
        <p>
        <strong>SAE International </strong> Initially established as the Society of Automotive Engineers founded in
        1905, is a U.S.-based, globally active professional association for engineering professionals in various
        industries. Principal emphasis is placed on transport idustries such as automotive, aerospace, and commercial
        vehicles. SAE International has more than 1,27,000 active members round the globe.
        <br>
        <br>
        <strong>SAE INDIA </strong>Founded in 1994, is an affiliate society of SAE International, registered as an
        Indian non-profit engineering and scientific society dedicated to the advancement of mobility community in
        India. As an individual member driven society of mobility practitioners, SAE INDIA comprises members who are
        individuals from the mobility community, which includes engineers and executives. Principal emphasis is placed
        on transport industries such as automotive, aerospace, and commercial vehicles. SAE India holds a variety of
        competitions every year for engineering students across the country.</p>
      </div>
    </div>
  </div>
</div>