<div [ngStyle]="{'background-image': 'url(' + ABOUT_BACKGOUND + ')'}" class="main-container">
  <div class="container text-center">
    <div class="row text-center justify-content-center top-section">
      <div class="col-10 col-md-9 col-lg-6">
        <h3>We Are Doing A Little Mile Of This And Of Continued That Support</h3>
      </div>
    </div>
    <img src="{{ABOUT_IMAGE}}" class="img-fluid" />
    <div class="row">
      <div class="col-md-6 col-12">
        SAEINDIA ,founded in 1994, is an affiliate society of SAE International, registered as an Indian non-profit
        engineering and scientific society dedicated to the advancement of mobility community in India. SAE India holds
        a
        variety of competitions every year for engineering students across the country.
      </div>
      <div class="col-md-6 col-12">
        As an individual member driven society of mobility practitioners, SAEINDIA comprises members who are
        individuals from the mobility community, which includes engineers and executives. Principal emphasis is placed
        on
        transport industries such as automotive, aerospace, and commercial vehicles.
      </div>
    </div>
  </div>
</div>