.main-container{
    background-size:     cover;                      /* <------ */
    background-position: center center;  
    padding: 70px 10px;
}

.container .top-section{
    color: #6d6792;
    font-size: 2.2rem;
}

.container img{
    margin-bottom: 50px;
}