<div class="row">
  <div class="col-md-12">
      <div class="blog-item blog-post-item">
          <div class="thumb">
              <div class="blog-meta row">
                  <div class="col-md-2">
                      <h2>17</h2>
                      <span>August</span>
                  </div>
                  <div class="col-md-10">
                      <h3>Proin nulla dolor, porta id vestibulum nec, tempus id purus. In viverra commodo tellus, vitae iaculis dui rutrum eu. Cum sociis </h3>
                      <p><b>Posted by</b> Dallilu, <b>In</b> blog category app, <b>Comments</b> 15, <b>Views</b> 1510</p>
                  </div>
              </div>
              <a href="#"><img src="images/blog/blog1.jpg" class="img-responsive" width="825" height="383" alt=""></a>
              <div class="blog-contnet">
                  <p>Non voluptatem inventore aut fuga beatae non ipsam et at deserunt rerum soluta officiis exercitationem. quae quas explicabo aut blanditiis consequatur voluptatem. in ea unde aliquid ullam qui suscipit vel eligendi est aliquid tenetur omnis. autem incidunt ea exercitationem et et aut reiciendis enim. autem corporis quasi eum molestias sit est architecto dolores accusamus eaque. dolores consequatur eos quidem ea natus nesciunt to tam<br><br>
                  Deleniti laboriosam soluta animi non corrupti. labore <a href="#">est quasi omnis ducimus</a>. facere pariatur molestiae eum vel dignissimos debitis quam et id<br><br>
                  Esse labore voluptate nam dolorum veniam numquam et reiciendis qui itaque voluptas odit dicta et. est ullam et omnis repellat qui aliquam delectus quod aperiam quam tenetur odit illo voluptatem. optio tenetur occaecati autem vel occaecati voluptas iste sunt libero quo est ex eum. aut molestiae ea est inventore aut quia ab voluptatem hic iste
                  </p>
                  <h3><i>"Provident nihil sint ducimus quasi dignissimos vero esse quisquam Asperiores beatae facere eos corrupti ut autem natus quis cumque dolor."</i></h3>
                  <h2>THIS IS A SUB-HEADING</h2>
                  <p>Aut ea rem repudiandae tempore perferendis. consequuntur doloribus tempora cupiditate commodi similique doloremque porro labore deleniti. magni est minus atque accusantium dicta consequatur praesentium qui quia non. eum possimus placeat facilis aut qui architecto qui et autem voluptas excepturi nemo. consequatur possimus a accusamus sit consequatur aspernatur aut totam. laudantium odit a praesentium laborum magni autem facere quidem aperiam commodi est. dolore debitis doloremque ea impedit</p>
                  <p>Tempora commodi quia <a href="#">deserunt porro</a> excepturi
                      Placeat in quae tempore pariatur sit aut qui nemo
                      Rem quod sequi nobis possimus sequi dolorem est ab
                  </p>
                  <h2>THIS IS A SMALL TITLE</h2>
                  <p>Dolorem laudantium possimus esse tenetur voluptates nam. corrupti pariatur commodi est omnis excepturi dignissimos. commodi qui cum tempora ipsa porro quasi quis labore ea cum quod sapiente debitis asperiores. ut qui est ipsa enim numquam odit mollitia. velit earum unde qui animi quod earum repellendus facere aperiam nemo. ipsa praesentium aut quam aperiam qui voluptate</p>
              </div>
          </div>
      </div>
  </div>
</div><!-- END OF /. BLOG ITME -->

<div class="row">
  <div class="col-md-12">
      <div class="row author-profile">
          <div class="col-md-3">
              <div class="author-profile-pic">
                  <a href="#">
                      <img width="200" height="200" alt="">
                  </a>
              </div>
          </div>
          <div class="col-md-9">
              <div class="profile-content">
                  <h4>ROBERT WILLIAM</h4>
                  <i>GS. ENGINEER DIRECTOR</i>
                  <p>Dolorem laudantium possimus esse tenetur voluptates nam. corrupti pariatur commodi est omnis excepturi dignissimos. commodi qui cum tempora ipsa porro quasi quis labore ea cum quod sapiente debitis asperiores. ut qui est ipsa enim numquam odit mollitia. velit earum unde qui animi quod earum repellendus facere aperiam nemo. ipsa praesentium aut quam aperiam qui voluptate</p>
              </div>
              <div class="footer-social-media">
                  <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-github"></i></a></li>
                      <li><a href="#"><i class="fa fa-codepen"></i></a></li>
                  </ul>
              </div><!-- END OF /. SOCIAL MEDIA -->
          </div>
      </div>
  </div>

</div>

<div class="row blog-comment">
  <div class="col-md-12">
      <h3><span>Leave a Comment</span></h3>
      <form action="inc/contact.php" method="POST" class="contact-form">
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" name="name" id="name" class="form-control" placeholder="Your Name"/>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" name="email" id="email" class="form-control" placeholder="Your Email"/>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <input type="text" name="subject" id="subject" class="form-control" placeholder="Your Subject"/>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Your Message"></textarea>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <span class="pori-btn">
                      <input type="submit" class="submit-btn" value="Add Comment" />
                  </span>
              </div>
          </div>
      </form><!-- END OF /. FORM -->
  </div>
</div><!-- END OF/. PAGINATION -->