@import "variables";
@import "mixins";
@import "button";
@import "common";

.blog-item {
    display: block;
    margin-bottom: 40px;
}

.thumb img{
    width: 100%;
    height: auto;
}


.blog-meta {
    position: relative;
}
.blog-meta h2{
    position: absolute;
    top: -4.86rem;
    left: 0;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    display: block;
    margin: 0;
    text-transform: uppercase;
    width: 100px;
}
.blog-meta span{
    display: inline-block;
    width: 100px;
    background: $color-primary;
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
}
.blog-meta p{
    display: inline-block;
    
    font-size: 14px;
    padding-left: 15px;
    color: #000000
}

.blog-contnet h3{
    color: #1c1c1c;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.blog-contnet p{
    color: #1c1c1c;
    margin-top: 0px;
    display: block;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    
}
nav ul.pagination {
    margin: 0;
    margin-bottom: 50px;
}
nav ul.pagination  li a{
    border-radius: 0px !important;
    color: #1c1c1c;
    margin: 3px;
}
nav ul.pagination li.active a{
    background: $color-primary !important;
    margin: 3px;
    border: 1px solid $color-primary !important;
}
nav ul.pagination  li a:hover{
    background: $color-primary;
    border: 1px solid $color-primary !important;
    color: #fff;
}