@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0;padding:0;
overflow-x: hidden;
overflow-y: scroll;
font-family: 'GT';
}

@font-face {
  font-family: 'GT';
  src: url('/static/ang/assets/font/gthaptikbold.woff2') format('woff2');
  src: url('/static/ang/assets/font/gthaptiklight.woff2') format('woff2');
  src: url('/static/ang/assets/font/gthaptikregular-oblique.woff2') format('woff2');
  src: url('/static/ang/assets/font/gthaptikregular.woff2') format('woff2');
  src: url('/assets/font/gthaptikbold.woff2') format('woff2');
  src: url('/assets/font/gthaptiklight.woff2') format('woff2');
  src: url('/assets/font/gthaptikregular-oblique.woff2') format('woff2');
  src: url('/assets/font/gthaptikregular.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;

}

/* Loader section */
#preloader{
    width: 100%;
    height: 100%;
    -webkit-animation: preloader_6 5s infinite linear;
    -moz-animation: preloader_6 5s infinite linear;
    -o-animation: preloader_6 5s infinite linear;
    animation: preloader_6 5s infinite linear;
    background: #fff;
    display: block;
    text-align: center;
    position: fixed;
    z-index: 999999;
}

@-webkit-keyframes dyinglight {
  15% {
    -webkit-transform: scale(1.6);
            -moz-transform: scale(1.6);
            -o-transform: scale(1.6);
            transform: scale(1.6);
  }
  50% {
    -webkit-transform: rotate(-89deg);
            -moz-transform: rotate(-89deg);
            -o-transform: rotate(-89deg);
            transform: rotate(-89deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@keyframes dyinglight {
  15% {
    -webkit-transform: scale(1.6);
            -moz-transform: scale(1.6);
            -o-transform: scale(1.6);
            transform: scale(1.6);
  }
  50% {
    -webkit-transform: rotate(-89deg);
            -moz-transform: rotate(-89deg);
            -o-transform: rotate(-89deg);
            transform: rotate(-89deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
}

.loader-square {
  display: block;
  width: 50px;
  height: 50px;
  background: #05BCC9;
}

.loader-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-transform-origin: 50% 50% 0;
          -moz-transform-origin: 50% 50% 0;
          -o-transform-origin: 50% 50% 0;
          transform-origin: 50% 50% 0;
  -webkit-animation: dyinglight 1s ease infinite;
          -moz-animation: dyinglight 1s ease infinite;
          -o-animation: dyinglight 1s ease infinite;
          animation: dyinglight 1s ease infinite;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.loader-border-top:before,
.loader-border-top:after,
.loader-border-bottom:before,
.loader-border-bottom:after {
  position: absolute;
  width: 17px;
  height: 17px;
  color: #05BCC9;
  content: "";
}

.loader-border-top:before {
  border-left: 1px solid;
  border-top: 1px solid;
  top: -6px;
  left: -6px;
}
.loader-border-top:after {
  border-right: 1px solid;
  border-top: 1px solid;
  top: -6px;
  right: -6px;
}

.loader-border-bottom:before {
  border-left: 1px solid;
  border-bottom: 1px solid;
  bottom: -6px;
  left: -6px;
}
.loader-border-bottom:after {
  border-right: 1px solid;
  border-bottom: 1px solid;
  bottom: -6px;
  right: -6px;
}

.theme-button-lg {
  display: block;
  padding: 15px 45px;
  border: 2px solid #05BCC9;
  background: #fff;
  border-radius: 30px;
  font-size: 1.2em;
  font-weight: 700;
  color: #05BCC9;
  transition: 0.3s ease-in-out;
  &:hover {
    background: linear-gradient(45deg, #9682C8 10%, #05BCC9);
    color: #fff;
    border-image: linear-gradient(45deg, #9682C8 10%, #05BCC9);
    cursor: pointer;
  }
}