div.container{
    padding-top: 50px;
    padding-bottom: 70px;
}

.container .top-section{
    padding-bottom: 40px;
    color: #6d6792;
}

.card {
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 0.75em;
    padding: 0;
    transition: all 0.2s ease-in-out;
  }
  .card:nth-child(even) {
    margin: 0 1em;
  }
  
  .card-top {
    background: #b2dce5;
    padding: 3em;
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
  }
  .card-top .card-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 12em;
    width: auto;
  }
  .card-top .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 17.75em;
    width: 100%;
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    z-index: 10;
    background: rgba(0, 0, 0, 0.55);
    overflow: hidden;
    transition: all 700ms ease;
    opacity: 0;
  }
  .card-top .overlay h1 {
    text-align: center;
    font-weight: 500;
    color: #fff;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .card-top .overlay:hover, .card-top .overlay:focus {
    opacity: 1;
  }
  
  .triangle {
    position: relative;
    height: 0;
    width: 0;
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
    border-top: 1.5em solid #b2dce5;
    margin: 0 auto -1.75em auto;
    top: -0.25em;
    z-index: 20;
  }
  
  .card-middle {
    display: none;
    background: #efefef;
    padding: 2em 1em 1em 1em;
  }
  .card-middle .more {
    font-family: Open Sans;
    font-weight: 400;
  }
  
  .card-bottom {
    background: #f7f7f7;
    padding: 1.75em 1em 1em 1em;
    border-bottom-left-radius: 0.75em;
    border-bottom-right-radius: 0.75em;
  }
  .card-bottom .card-title {
    font-weight: 100;
  }
  
  .circle-button {
    position: absolute;
    bottom: 0;
    right: 3.5em;
    width: 70px;
    height: 70px;
    font-size: 1.5em;
    color: #fff;
    background: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.275);
    outline: none;
    cursor: pointer;
    transition: all 300ms ease;
  }
  .circle-button .close {
    transition: -webkit-transform 400ms ease;
    transition: transform 400ms ease;
    transition: transform 400ms ease, -webkit-transform 400ms ease;
  }
  
  .closeRotate {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }