#event {
    background: #fff;
}

/* Header Style goes here */

#header {
    color: white;
    background-position: center;
    background-size: cover;
}

#header h1 {
    padding-top: 150px;
    padding-bottom: 20px;
    font-weight: 400;
}

#header h4 {
    font-weight: 600;
    padding-bottom: 150px;
}

/* Logo Style goes here */

#logo div img {
    height: 160px;
    margin-top: -80px;
    background: #fff;
    padding: 3px;
    width: 160px;
    border-radius: 80px;
}

/* Description style goes here */

#description {
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: #fff;
}

#description h3 {
    padding: 0px 10px 10px 15px;
    font-weight: 600;
}

#description p {
    padding: 15px;
}

#description .date-container h5 {
    padding: 10px;
    color: #fff;
    margin: 0px;
}

#description .date-container td {
    font-size: 13px;
}

#description .date-container td strong {
    font-weight: 600;
}

/* Teams css goes here */

#team{
    padding:30px 10px 70px 10px;
    background: #f7f7f9;
}
#team h3{
    padding-top: 50px;
    margin-bottom: 50px;
    font-weight: 600;
    padding-bottom: 10px;
}

#team .team-container{
    width: 170px;
    margin: 10px;
}
#team div .team-member{
    background-color: #000;
    height: 200px;
    overflow: hidden;  
    position: relative;    
}

#team div .member-pic{
    height: 150px;
    background-size: cover;
}
#team div .member-info{
    height: 100px;
    color: #fff;
    background-color: #212121;
    transition: 1s;
    z-index: 15;
    padding-left: 10px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
#team div .member-info:hover{
    margin-top: -50px;
    transform: scale(1.05);

}
#team div .member-info h6.text-name{
    padding-top: 15px;
    padding-bottom:10px;
    font-size: 15px;
}
#team div .member-info h6.text-left{
    padding-top: 5px;
    font-size: 10px;
    font-weight: 600; 
}
#team div .member-info h6.text-contact{
    font-size: 12px;
    font-weight: 600; 
}

#team div .member-dept{
    color: #fff;
    top: 0px;
    left:0;
    z-index: 10;
    padding-top: 0px;
    position: absolute;
}

#team div .member-dept h6{
    font-weight: 400;
    padding: 5px 15px;
    margin-bottom: 0px;
    font-size: 13px;
}

/* Timeline style goes here */

#timeline{
    position: relative;
    height: 800px;
    width: 100%;
}

#timeline-nav{ 
    position: absolute; 
    z-index:5000; 
    text-align: center; 
    bottom:20px; left:46%;
}

#Dots{ 
  position: absolute; 
  z-index:5000;
  bottom:80px; 
  left:50%;
  transform:translate(-50%,0%);    
}

.Dot{
 width:8px; 
 height: 8px; 
 border-radius: 50%;
 position: relative;
 float: left; 
 background-color: #fff;
 opacity:1;
 margin:5px; margin-bottom:0px;
 cursor: pointer;
 border:2px solid rgba(255,255,255,0.7);
}

#prevtBtn,#nextBtn{
  color: white;
  font-size: 45px;
  margin: 15px 15px 0px 15px;
  position: relative;
}

.box {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  font-size: 40px;
  color: white;
  font-family:'Oswald', arial; 
  top:0px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.slide span{
  display:block;
  position:absolute;
  -webkit-transform:translate(-50%,-50%);
      -ms-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
  left:50%; top:45%;
}

.box:nth-child(1) {
  background-color: #ff002f;
}
.box:nth-child(2) {
  background-color: #00718b;
}
.box:nth-child(3) {
  background-color: #4a5619;
}
.box:nth-child(4) {
  background-color: #ff002f;
}
.box:nth-child(5) {
  background-color: #006f73;
}
.box:nth-child(6) {
  background-color: #4a5619;
}
.box:nth-child(7) {
  background-color: #ff002f;
}
.box:nth-child(8) {
  background-color: #006f73;
}

