<footer class="flex-rw">

  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header">SAE-AKGEC</h4>
    </li>

  </ul>
  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header">Related Links</h4>
    </li>
    <li><a href='#about' class="generic-anchor footer-list-anchor">ABOUT US</a></li>
    <li><a routerLink='/contactus' class="generic-anchor footer-list-anchor">CONTACT Us</a></li>
    <li><a href='#events' class="generic-anchor footer-list-anchor">EVENTS</a></li>
    <li><a href='#workshops' class="generic-anchor footer-list-anchor">WORKSHOPS</a></li>
    <li><a routerLink='/blogs' class="generic-anchor footer-list-anchor">BLOGS</a></li>
  </ul>
  <ul class="footer-list-top">
    <li id='help'>
      <h4 class="footer-list-header">POPULAR LINKS</h4>
    </li>
    <li><a routerLink='/workshops/innovacion' class="generic-anchor footer-list-anchor" itemprop="significantLink">INNOVACION</a></li>
    <li><a routerLink='/workshops/aacar' class="generic-anchor footer-list-anchor" itemprop="significantLink">AACAR</a></li>
    <li><a routerLink='/team' class="generic-anchor footer-list-anchor" itemprop="significantLink">TEAM</a></li>
    <li><a href="https://www.saeindia.org/" class="generic-anchor footer-list-anchor" itemprop="significantLink">SAEINDIA</a></li>
    <li><a href='https://www.sae.org/' itemprop="significantLink" class="generic-anchor footer-list-anchor">SAE
        INTERNATIONAL</a></li>
  </ul>
  <section class="footer-social-section flex-rw">
    <span class="footer-social-overlap footer-social-connect">
      CONNECT <span class="footer-social-small">with</span> US
    </span>
    <span class="footer-social-overlap footer-social-icons-wrapper">
      <a href="https://www.pinterest.com/paviliongift/" class="generic-anchor" target="_blank" title="Pinterest"
        itemprop="significantLink"><i class="fab fa-pinterest"></i></a>
      <a href="https://www.facebook.com/paviliongift" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i
          class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/PavilionGiftCo" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i
          class="fab fa-twitter"></i></a>
      <a href="http://instagram.com/paviliongiftcompany" class="generic-anchor" target="_blank" title="Instagram"
        itemprop="significantLink"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UCYgUODvd0qXbu_LkUWpTVEg" class="generic-anchor" target="_blank" title="Youtube"
        itemprop="significantLink"><i class="fab fa-youtube"></i></a>
      <a href="https://plus.google.com/+Paviliongift/posts" class="generic-anchor" target="_blank" title="Google Plus"
        itemprop="significantLink"><i class="fab fa-google-plus"></i></a>
    </span>
  </section>
  <section class="footer-bottom-section flex-rw">
    <div class="footer-bottom-wrapper">
      <i class="fa fa-copyright" role="copyright">

      </i> 2019 SAE-AKGEC <address class="footer-address" role="company address">-By Team Members</address><span
        class="footer-bottom-rights">
        - All Rights Reserved - </span>
    </div>
    <div class="footer-bottom-wrapper">
      <a href="/terms" class="generic-anchor" rel="nofollow">Terms</a> | <a href="/policy"
        class="generic-anchor" rel="nofollow">Privacy</a>
    </div>
  </section>
</footer>