<div class="row">
  <div class="col-md-12">
    <div class="blog-item">
      <div class="thumb">
        <a href="#"><img src="https://revolthemes.net/demo/klasik/html/images/blog/blog1.jpg" class="img-responsive"
            width="825" height="383" alt=""></a>
        <div class="blog-meta">
          <h2>17</h2>
          <span>August</span>
          <p><b>Posted by</b> Dallilu, <b>In</b> blog category app, <b>Comments</b> 15, <b>Views</b> 1510</p>
        </div>
        <div class="blog-contnet">
          <h3>Donec iaculis metus vitae ligula elementum</h3>
          <p>Proin nulla dolor, porta id vestibulum nec, tempus id purus. In viverra commodo tellus, vitae
            iaculis dui rutrum eu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Integer dictum volutpat massa, pulvinar feugiat libero euismod semper. Aenean
            placerat, ipsum in fringilla facilisis, arcu est vehicula ipsum, a dictum risus tellus mattis sem.
            Nunc id laoreet metus. Donec cursus augue urna, rhoncus ultrices ante feugiat eget nascetur
            ridiculus mus libero euismod semper.</p>
          <a href="#" class="pori-btn">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div><!-- END OF /. BLOG ITME -->
<div class="row">
  <div class="col-md-12">
    <div class="blog-item">
      <div class="thumb">
        <a href="#"><img src="https://revolthemes.net/demo/klasik/html/images/blog/blog1.jpg" class="img-responsive"
            width="825" height="383" alt=""></a>
        <div class="blog-meta">
          <h2>09</h2>
          <span>Sep</span>
          <p><b>Posted by</b> Dallilu, <b>In</b> blog category app, <b>Comments</b> 15, <b>Views</b> 1510</p>
        </div>
        <div class="blog-contnet">
          <h3>Donec iaculis metus vitae ligula elementum</h3>
          <p>Proin nulla dolor, porta id vestibulum nec, tempus id purus. In viverra commodo tellus, vitae
            iaculis dui rutrum eu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Integer dictum volutpat massa, pulvinar feugiat libero euismod semper. Aenean
            placerat, ipsum in fringilla facilisis, arcu est vehicula ipsum, a dictum risus tellus mattis sem.
            Nunc id laoreet metus. Donec cursus augue urna, rhoncus ultrices ante feugiat eget nascetur
            ridiculus mus libero euismod semper.</p>
          <a href="#" class="pori-btn">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div><!-- END OF /. BLOG ITME -->
<div class="row">
  <div class="col-md-12">
    <div class="blog-item">
      <div class="thumb">
        <a href="#"><img src="https://revolthemes.net/demo/klasik/html/images/blog/blog1.jpg" class="img-responsive"
            width="825" height="383" alt=""></a>
        <div class="blog-meta">
          <h2>19</h2>
          <span>Opct</span>
          <p><b>Posted by</b> Dallilu, <b>In</b> blog category app, <b>Comments</b> 15, <b>Views</b> 1510</p>
        </div>
        <div class="blog-contnet">
          <h3>Donec iaculis metus vitae ligula elementum</h3>
          <p>Proin nulla dolor, porta id vestibulum nec, tempus id purus. In viverra commodo tellus, vitae
            iaculis dui rutrum eu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Integer dictum volutpat massa, pulvinar feugiat libero euismod semper. Aenean
            placerat, ipsum in fringilla facilisis, arcu est vehicula ipsum, a dictum risus tellus mattis sem.
            Nunc id laoreet metus. Donec cursus augue urna, rhoncus ultrices ante feugiat eget nascetur
            ridiculus mus libero euismod semper.</p>
          <a href="#" class="pori-btn">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div><!-- END OF /. BLOG ITME -->
<div class="row">
  <div class="col-md-12">
    <div class="blog-item">
      <div class="thumb">
        <a href="#"><img src="https://revolthemes.net/demo/klasik/html/images/blog/blog1.jpg" class="img-responsive"
            width="825" height="383" alt=""></a>
        <div class="blog-meta">
          <h2>25</h2>
          <span>Nov</span>
          <p><b>Posted by</b> Dallilu, <b>In</b> blog category app, <b>Comments</b> 15, <b>Views</b> 1510</p>
        </div>
        <div class="blog-contnet">
          <h3>Donec iaculis metus vitae ligula elementum</h3>
          <p>Proin nulla dolor, porta id vestibulum nec, tempus id purus. In viverra commodo tellus, vitae
            iaculis dui rutrum eu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Integer dictum volutpat massa, pulvinar feugiat libero euismod semper. Aenean
            placerat, ipsum in fringilla facilisis, arcu est vehicula ipsum, a dictum risus tellus mattis sem.
            Nunc id laoreet metus. Donec cursus augue urna, rhoncus ultrices ante feugiat eget nascetur
            ridiculus mus libero euismod semper.</p>
          <a href="#" class="pori-btn">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div><!-- END OF /. BLOG ITME -->
<div class="row">
  <div class="col-md-12">
    <nav>
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="active"><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div><!-- END OF/. PAGINATION -->