<!-- Landing screen starts here -->
<section class="breadcrumb_bg">
  <div class="container row">
    <div class="text-center">
      <button class="regbtn btn btn-lg" routerLink="/inno20-registration" type="button">Register</button>
    </div>
  </div>
  <div class="col-12">
    <img class="innnovacion img-fluid mx-auto " src="assets/innovacion.png"></div>
  <img class="gear" src="assets/gear.png">
  <img class="plus" src="assets/plus.png">
  <img class="minus" src="assets/minus.png">
  <img class="cross" src="assets/square.png">

  <!-- <div class="col-md-6 text-center pt-2">
                <button class="loginbtn btn btn-lg" size="lg" type="button">Login</button>
         </div> -->
</section>
<!-- Landing screeen ends here -->
<!-- About starts here -->
<div class="container-fluid pt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6 col-sm-12 d-flex justify-content-center">
      <img class="inovacion" src="assets/inovacion.png">
    </div>
    <div class="col-sm-12 col-lg-6 fadeIn">
      <div class="row d-flex justify-content-center pt-5">
        <!-- Will add scroll reveal -->
        <h1 style="color: black;" class="pt-3 " data-aos="fade-in">Innovacion 2020</h1>
      </div>
      <div class="d-flex justify-content-center " data-aos="flip-left">
        <p class="para"><b>“Innovation is seeing what everybody has seen and thinking what nobody has
            thought”.</b>
          With the quote “Recreate Redesign Renovate let’s Innovate”
          The Collegiate club SAE-AKGEC presents “INNOVACION’20”, an inter-college workshop on Automation and
          IoT.The workshop challenges young minds to learn compete and provides a platform to be
          an innovator.The workshop is about making students aware of the possibilities that
          exist with micro-controllers and sensors.We want to encorage the change maker.
          The workshop is organized in the starting of Feb month.</p>
      </div>
    </div>
  </div>
</div>
<!-- About ends here -->

<!-- Registration starts here -->
<div class="container-fluid pt-3">
  <div class="row d-flex justify-content-center">

    <div class="col-sm-12 col-lg-6 " data-aos="fade-right">
      <div class="row d-flex justify-content-center pt-5">
        <h3 style="color: black;" class="pt-3">Registration Date</h3>
      </div>
      <div class="d-flex justify-content-center">
        <!-- <h5>Coming Soon ......</h5> -->
        <h2 class="text-center">1 / 2 Feburary</h2>
      </div>
      <div class="row d-flex justify-content-center pt-2">
        <h3 style="color: black;" class="pt-3">Registration Plans</h3>
      </div>
      <div class="d-flex justify-content-center pt-3">
        <div class="col-12">
          <!-- <h5 style="text-align: center;">Coming Soon.....</h5> -->
          <h3 class="text-center" *ngFor="let plan of plans">Members : {{plan.teamMember}} -- Amount
            :{{plan.planPrice}}Rs</h3>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-warning  btn-lg" routerLink="/inno20-registration" type="button">Register</button>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 d-flex justify-content-center inovacion">
      <img style="width: 70%;" src="assets/2785427.jpg">
    </div>
  </div>
</div>
<!-- Registration ends here -->
<!-- Workshop Description starts here -->
<section class="fdb-block p-2">
  <div class="container">
    <div class="row align-items-center pb-xl-5">
      <div class="col-12 col-md-7 col-xl-5">
        <h1>About the Workshop</h1>
        <p class="lead">The workshop challenges young minds to learn compete and provides a platform to be an innovator.
          The workshop is about making students aware of the possibilities that exist with micro-controllers and
          sensors.We want to encorage the change maker. </p>
      </div>
      <div class="col-12 col-sm-6 col-md-4 m-sm-auto mr-md-0 ml-md-auto pt-4 pt-md-0">
        <img alt="image" data-aos="fade-in-up" class="img-fluid" src="/assets/5583.jpg">
      </div>
    </div>

    <div class="row pt-5" data-aos="zoom-in-up">
      <div class="col-12 col-sm-6 col-md-3">
        <h3><strong>Free Arduino Kit*</strong></h3>
        <p>Arduino which consist of different micro-controllers and sensors..</p>
      </div>

      <div class="col-12 col-sm-6 col-md-3 pt-3 pt-sm-0">
        <h3><strong>Hands On Experience</strong></h3>
        <p>a Technical Workshop with Hands on Experience..</p>
      </div>

      <div class="col-12 col-sm-6 col-md-3 pt-3 pt-md-0">
        <h3><strong>Exciting Prizes</strong></h3>
        <p>Winning team is awarded with different cash prizes on participation of workshop events..</p>
      </div>

      <div class="col-12 col-sm-6 col-md-3 pt-3 pt-md-0">
        <h3><strong>Events</strong></h3>
        <p>Bot racing competition and quiz competition is held before and after the workshop..</p>
      </div>
    </div>
  </div>
</section>
<!-- Workshop Description ends here -->
<!-- Projects section starts here  -->
<section class="fdb-block pt-4">
  <div class="constainer">
      <div class="text-center">
        <h2 data-aos="fade-in">Get ready for these interesting projects !!</h2>
      </div>
  </div>

  <div class="container pt-5">
    <div class="row text-center justify-content-center">
      <div class="col-12 col-md-8 m-auto col-lg-3">
        <div data-aos="zoom-out-up" *ngFor="let mini of miniprojects" class="fdb-box fdb-touch">
          <img alt="image" class="fdb-icon" src="{{mini.image}}">
          <h2 class="project">{{mini.name}}</h2>
          <p>{{mini.description}}</p>
        </div>
      </div>


      <div class="col-12 col-md-8 m-auto col-lg-3 pt-5 pt-lg-0">
        <div data-aos="zoom-out-up" *ngFor="let mini of majorprojects" class="fdb-box fdb-touch">
          <img alt="image" class="fdb-icon" src="{{mini.image}}">
          <h2 class="project">{{mini.name}}</h2>
          <p class="projec">{{mini.description}}</p>
        </div>
      </div>
      <div class="col-12 col-md-8 m-auto col-lg-3 pt-5 pt-lg-0">
        <div *ngFor="let mini of majprojects" class="fdb-box fdb-touch">
          <img alt="image" class="fdb-icon" src="{{mini.image}}">
          <h2 class="project">{{mini.name}}</h2>
          <p class="projec">{{mini.description}}</p>
        </div>
      </div>
      <div class="col-12 col-md-8 m-auto col-lg-3 pt-5 pt-lg-0">
        <div data-aos="zoom-out-up" *ngFor="let mini of minproject" class="fdb-box fdb-touch">
          <img alt="image" class="fdb-icon" src="{{mini.image}}">
          <h2 class="project">{{mini.name}}</h2>
          <p class="projec">{{mini.description}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Projects section ends here  -->
<!-- Organiser secton -->
<section class="organiser">
  <div class="container pt-5">
    <div class="row text-center justify-content-center">
      <div class="text-center">
        <h1>Organiser's</h1>
      </div>
    </div>
    <div class="row text-center justify-content-center " data-aos="fade-in">
      <div class="pad col-4 col-sm-2 col-lg-3 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="assets/compressjpeg/mahima.jpg">
        <h3><strong>Mahima Baghel</strong></h3>
      </div>

      <div class="pad col-4 col-sm-2 col-lg-3 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="assets/compressjpeg/96.jpg">
        <h3><strong>Satyam Gupta</strong></h3>

      </div>

      <div class="pad col-4 col-sm-2 col-lg-3 m-sm-auto">
        <img class="imghvr-zoom-out-flip-vert scale" alt="image" class="img-fluid rounded-circle"
          src="assets/compressjpeg/2.jpg">
        <h3><strong>Ishaan Arora</strong></h3>
      </div>

      <div class="pad col-4 col-sm-2 col-lg-3 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="assets/compressjpeg/jitendra.jpg">
        <h3><strong>Jitendra Rathore</strong></h3>
      </div>

      <div class="pad col-4 col-sm-2 col-lg-3  m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="assets/compressjpeg/rishabh.jpg">
        <h3><strong>Rishabh Jain</strong></h3>


      </div>

      <div class="pad col-4 col-sm-2 col-lg-3 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="assets/compressjpeg/22.jpg">

        <h3><strong>Umang Khare</strong></h3>
      </div>

      <div class="pad col-4 col-sm-2 col-lg-3 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="assets/compressjpeg/24.jpg">
        <h3><strong>Honey Singh</strong></h3>
      </div>

      <div class="pad col-4 col-sm-2 col-lg-3 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="assets/compressjpeg/15.jpg">
        <h3><strong>Akshat Shrivastav</strong></h3>
      </div>
    </div>
  </div>
</section>
<!-- Organiser sections ends here -->