<!-- Landing screen starts here -->
<section class="breadcrumb_bg">

  <div class="col-12">
    <img class="innnovacion img-fluid mx-auto " src="assets/aacar_logo_black.png">
  </div>
  <div class="col-12">
    <button class="regbtn btn btn-lg" routerLink="/registration" type="button">Register</button>
  </div>



  <!-- <img class="gear" src="assets/gear.png">
  <img class="plus" src="assets/plus.png">
  <img class="minus" src="assets/minus.png">
  <img class="cross" src="assets/square.png"> -->

  <!-- <div class="col-md-6 text-center pt-2">
                <button class="loginbtn btn btn-lg" size="lg" type="button">Login</button>
         </div> -->
</section>
<!-- Landing screeen ends here -->
<!-- About starts here -->
<div class="container-fluid pt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6 col-sm-12 d-flex justify-content-center">
      <img class="inovacion" src="assets/repair.png">
    </div>
    <div class="col-sm-12 col-lg-6 fadeIn">
      <div class="row d-flex justify-content-center pt-5">
        <!-- Will add scroll reveal -->
        <h1 style="color: black;" class="pt-3 " data-aos="fade-in">Aacar 7.0</h1>
      </div>
      <div class="d-flex justify-content-center " data-aos="flip-left">
        <p class="para"><b>“Engineering is seeing what everybody has seen and thinking what nobody has
            thought”.</b>
          The main agenda of the workshop is to provide the students with a deep insight into the exciting world of
          automobiles. The workshop is about making students aware of the possibilities and advancements that can be
          achived and the multi domain innovation in the world of cars.The workshop is orgnised in the month of FEB. of
          every year.</p>
          
      </div><br>
      <div class="text-center">
          <button class="btn btn-warning  btn-lg" routerLink="/registration" type="button">Register</button>
        </div>
    </div>
  </div>
</div>
<!-- About ends here -->

<!-- Registration starts here -->
<div class="container-fluid pt-3">
  <div class="row d-flex justify-content-center">

    <div class="col-sm-12 col-lg-6 " data-aos="fade-right">
      <div class="row d-flex justify-content-center pt-5">
        <h3 style="color: black;" class="pt-3">Registration Date</h3>
      </div>
      <div class="d-flex justify-content-center">
        <!-- <h5>Coming Soon ......</h5> -->
        <h2 class="text-center"> 24/02/2020</h2>
      </div>
      <div class="row d-flex justify-content-center ">
        <h3 style="color: black;" class="pt-3">Registration Fees</h3>
      </div>
      <div class="d-flex justify-content-center ">
        <div class="col-12">
          <!-- <h5 style="text-align: center;">Coming Soon.....</h5> -->
          <h2 class="text-center">Fee : 350 Rs</h2>
        </div>
      </div>
      <div class="row d-flex justify-content-center ">
        <h3 style="color: black;" class="pt-3">Workshop Date</h3>
      </div>
      <div class="d-flex justify-content-center">
        <!-- <h5>Coming Soon ......</h5> -->
        <h2 class="text-center"> 29/02/2020 & 01/03/2020</h2>
      </div>
      <div class="row d-flex justify-content-center">
          <h3 style="color: black;" class="pt-3">Workshop Timing</h3>
        </div>
        <div class="d-flex justify-content-center">
          <!-- <h5>Coming Soon ......</h5> -->
          <h2 class="text-center"> 8:30 am - 4:00pm</h2>
        </div>
     
    </div>
    <div class="col-lg-6 col-sm-12 d-flex justify-content-center inovacion">
      <img style="width: 70%;" src="assets/2785427.jpg">
    </div>
  </div>
</div>
<!-- Registration ends here -->
<!-- Workshop Description starts here -->
<section class="fdb-block" style="padding-top: 5%;">
  <div class="container">
    <div class="row align-items-center pb-xl-5">
      <div class="col-12 col-md-7 col-xl-5">
        <h1>About the Workshop</h1>
        <p class="lead">The main agenda of the workshop is to provide the students with a deep insight into the exciting
          world of automobiles. The workshop is about making students aware of the possibilities and advancements that
          can be achived and the multi domain innovation in the world of cars.The workshop is orgnised in the month of
          FEB. of every year.

        </p>
      </div>
      <div class="col-12 col-sm-6 col-md-4 m-sm-auto mr-md-0 ml-md-auto pt-4 pt-md-0">
        <img alt="image" data-aos="fade-in-up" class="img-fluid" src="assets/34.png">
      </div>
    </div>

    <!-- <div class="row pt-5" data-aos="zoom-in-up">
     
      <div class="col-12 col-sm-6 col-md-3 pt-3 pt-sm-0">
        <h3><strong>Hands On Experience</strong></h3>
        <p>a Technical Workshop with Hands on Experience..</p>
      </div>

      <div class="col-12 col-sm-6 col-md-3 pt-3 pt-md-0">
        <h3><strong>Exciting Prizes</strong></h3>
        <p>Winning team is awarded with different cash prizes on participation of workshop events..</p>
      </div>

      <div class="col-12 col-sm-6 col-md-3 pt-3 pt-md-0">
        <h3><strong>Events</strong></h3>
        <p>Bot racing competition and quiz competition is held before and after the workshop..</p>
      </div>
    </div> -->
  </div>
</section>
<!-- Workshop Description ends here -->
<!-- Projects section starts here  -->
<section class="fdb-block pt-4">
  <div class="constainer">
    <div class="text-center">
      <h2 data-aos="fade-in">Get ready for these interesting projects and Workshop!!</h2>
    </div>
  </div>

  <div class="container pt-5">
    <div class="row text-center justify-content-center">
      <div class="col-6 col-md-8 m-auto col-lg-3">
        <div data-aos="zoom-out-up" *ngFor="let mini of miniprojects" class="fdb-box fdb-touch">
          <img alt="image" class="fdb-icon" src="{{mini.image}}">
          <!-- <h2 class="project">{{mini.name}}</h2> -->
          <!-- <p>{{mini.description}}</p> -->
        </div>
      </div>


      <div class="col-6 col-md-8 m-auto col-lg-3 pt-5 pt-lg-0">
        <div data-aos="zoom-out-up" *ngFor="let mini of majorprojects" class="fdb-box fdb-touch">
          <img alt="image" class="fdb-icon" src="{{mini.image}}">
          <!-- <h2 class="project">{{mini.name}}</h2> -->
          <!-- <p class="projec">{{mini.description}}</p> -->
        </div>
      </div>
      <div class="col-6 col-md-8 m-auto col-lg-3 pt-5 pt-lg-0">
        <div *ngFor="let mini of majprojects" class="fdb-box fdb-touch">
          <img alt="image" class="fdb-icon" src="{{mini.image}}">
          <!-- <h2 class="project">{{mini.name}}</h2> -->
          <!-- <p class="projec">{{mini.description}}</p> -->
        </div>
      </div>
      <div class="col-6 col-md-8 m-auto col-lg-3 pt-5 pt-lg-0">
        <div data-aos="zoom-out-up" *ngFor="let mini of minproject" class="fdb-box fdb-touch">
          <img alt="image" class="fdb-icon" src="{{mini.image}}">
          <!-- <h2 class="project">{{mini.name}}</h2>
          <p class="projec">{{mini.description}}</p> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Projects section ends here  -->
<!-- Organiser secton -->
<section class="organiser">
  <div class="container pt-5">
    <div class="row text-center justify-content-center">
      <div class="text-center">
        <h1>Organiser's</h1>
      </div>
    </div>
    <div class="row text-center justify-content-center " data-aos="fade-in">
      <div class="pad col-4 col-sm-2 col-lg-3 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="assets/compressjpeg/mahima.jpg">
        <h3><strong>Mahima Baghel</strong></h3>
      </div>

      <div class="pad col-4 col-sm-2 col-lg-3 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="assets/compressjpeg/96.jpg">
        <h3><strong>Satyam Gupta</strong></h3>

      </div>

      <div class="pad col-4 col-sm-2 col-lg-3 m-sm-auto">
        <img class="imghvr-zoom-out-flip-vert scale" alt="image" class="img-fluid rounded-circle"
          src="assets/compressjpeg/2.jpg">
        <h3><strong>Ishaan Arora</strong></h3>
      </div>

      <div class="pad col-4 col-sm-2 col-lg-3 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="assets/compressjpeg/jitendra.jpg">
        <h3><strong>Jitendra Rathore</strong></h3>
      </div>

      <div class="pad col-4 col-sm-2 col-lg-3  m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="assets/compressjpeg/rishabh.jpg">
        <h3><strong>Rishabh Jain</strong></h3>


      </div>

      <div class="pad col-4 col-sm-2 col-lg-3 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="assets/compressjpeg/22.jpg">

        <h3><strong>Umang Khare</strong></h3>
      </div>

      <div class="pad col-4 col-sm-2 col-lg-3 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="assets/compressjpeg/24.jpg">
        <h3><strong>Honey Singh</strong></h3>
      </div>

      <div class="pad col-4 col-sm-2 col-lg-3 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle"
          src="https://scontent.fdel7-1.fna.fbcdn.net/v/t1.0-1/p960x960/67547694_2330592887008916_3707697227704041472_o.jpg?_nc_cat=106&_nc_ohc=XfaT_MxOuXkAX-bo7-c&_nc_ht=scontent.fdel7-1.fna&_nc_tp=1002&oh=56b6a9fccd24ef1cb6c2d6e9e2005118&oe=5E9EA806">
        <h3><strong>Rishabh Katiyar</strong></h3>
      </div>
    </div>
  </div>
</section>

<!-- WEB TEAM -->
<section class="organiser">
  <div class="container pt-5">
    <div class="row text-center justify-content-center">
      <div class="text-center">
        <h1>Web Team</h1>
      </div>
    </div>
    <div class="row text-center justify-content-center " data-aos="fade-in">
      <div class="pad col-4 col-sm-2 col-lg-3 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle"
          src="https://scontent.fdel24-1.fna.fbcdn.net/v/t1.0-9/p960x960/65999055_421006138490631_2982293271637655552_o.jpg?_nc_cat=108&_nc_ohc=XgQGzjVEvtkAX_BPAzr&_nc_ht=scontent.fdel24-1.fna&_nc_tp=6&oh=6c767f659f993e9d2712eb5c21bd0a16&oe=5EFE5A41">
        <h3>Rishabh Jain</h3>
      </div>
      <div class="pad col-4 col-sm-2 col-lg-3 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle"
          src="https://avatars1.githubusercontent.com/u/52458150?s=400&v=4">
        <h3>Tanishq Verma</h3>
      </div>
      <div class="pad col-4 col-sm-2 col-lg-3 m-sm-auto">
        <img class="imghvr-zoom-out-flip-vert scale" alt="image" class="img-fluid rounded-circle"
          src="https://avatars2.githubusercontent.com/u/53941859?s=400&v=4">
        <h3>Nimish Bansal</h3>
      </div>

    </div>
  </div>

</section>
<!-- VOLUNTEERS -->
<section class="organiser">
  <div class="container pt-5">
    <div class="row text-center justify-content-center">
      <div class="text-center">
        <h1>Volunteer's</h1>
      </div>
    </div>
    <div class="row text-center justify-content-center " data-aos="fade-in">
      <div class="pad col-4 col-sm-2 col-lg-3 m-sm-auto">
        <h3>Shivam Dubey</h3>
        <h3> Nimish Bansal</h3>
        <h3> Manas Khera</h3>
        <h3> Vaibhav Kumar Singh</h3>
        <h3> Anjali soam</h3>
        <h3> Ayush Garg</h3>
        <h3> Dhairya Saraswat</h3>
        <h3> Vaibhav Kushwaha</h3>
        <h3> Deepali sharma</h3>

      </div>
      <div class="pad col-4 col-sm-2 col-lg-3 m-sm-auto">
        <h3>Shruti Agarwal</h3>
        <h3> Ajay</h3>
        <h3> Ankit kumar</h3>
        <h3> Ashish kumar singh</h3>
        <h3> Rishit Gupta</h3>
        <h3> Vaibhav Singh</h3>

        <h3> Abhishek yadav</h3>
        <h3> Vishal mall</h3>
        <h3> Vaibhav Singh</h3>
        <h3> Praagya Mittal</h3>
        <h3> Rohit singh</h3>
      </div>
      <div class="pad col-4 col-sm-2 col-lg-3 m-sm-auto">
        <h3>Vivekanand Shukla</h3>
        <h3> Apurv Rana</h3>
        <h3> Tanishq Verma</h3>
        <h3> Rishabh Kumar</h3>
        <h3> Nitish Yadav</h3>
        <h3> Nikhil Kumar</h3>
        <h3> Lokjeet Singh Niranjan</h3>
        <h3> Aishwarya Srivastava</h3>
        <h3> Shiva singh patel</h3>
      </div>
    </div>
  </div>

</section>
<!-- Organiser sections ends here -->