@import "variables";
@import "mixins";
@import "button";
@import "common";
.breadcrumb_iner {
    width: 100%;
		display: table;

		.breadcrumb_iner_item {
      display: table-cell;
      padding-top: 100px;
    
    	h2 {
        color: rgb(253, 250, 250);
        font-size: 50px;
				font-weight: 500;
				margin-bottom: 10px;
				text-transform: capitalize;
        @media #{$small_mobile} {
          font-size: 30px;
          padding-top:120px;
          }
       	@media #{$large_mobile} {
          font-size: 35px;
        	}
        @media #{$tab_device} {
					font-size: 100px;
				}
       @media #{$medium_device} {
          font-size: 30px;
          	}
			}
       	p {
				font-size: 15px;
				color: $color-white;
			}

			span {
				margin: 0px 5px;
				font-size: 12px;
			}
	}
	}
.carousel {
  @media #{$small_mobile} {
   width: 100%;
   height: 500px;
    }
   @media #{$large_mobile} {
    width: 100%;
   height: 500px;
    }
  @media #{$tab_device} {
    width: 100%;
   height: 500px;
  }
 @media #{$medium_device} {
  width: 100%;
  height: 500px;
      }
   
 
  
  .content {
    display: flex;
  @media #{$small_mobile}{
        padding-top: 70px;
      }
      @media #{$large_mobile}{
        padding-top: 70px;
      }
      @media #{$tab_device}{
        padding-top: 70px;
      }
      @media #{$medium_device}{
        padding-top: 70px;
      }
      
    .item {
      width: 100%;
    
      display: block;
     .img {
        width: 100%;
        display: block;
        background-size: cover;
        background-position: center;
       padding-bottom: 50%;
      }
    }
  }

  .item {
    width: 100%;
    display: block;

    .img {
      width: 100%;
      display: block;
      background-size: cover;
      background-position: center;
     padding-bottom: 50%;
    }
  }

  .ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    border: 2px solid;
    opacity: 0.5;

    &.visible {
      opacity: 1;
    }
  }
  .images{
    width: 200px;
    height: 200px;
  }

  .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: #ff5252;
  }

  .click-area {
    width: 50px;
    text-align: center;

    i {
      font-size: 3em;
    }
  }
}
@keyframes fadeInUp {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeIn {
opacity: 0;
animation: fadeInUp 1s ease-in-out 0s forwards;
&.first {
  animation-delay: 1s;
}
&.second {
  animation-delay: 3s;
}
&.third {
  animation-delay: 5s;
}
&.fourth {
  animation-delay: 7s;
}
&.fifth {
  animation-delay: 9s;
}
&.sixth {
  animation-delay: 11s;
}


}
.backdrop{

  background-color:rgba(0,0,0,0.6);
  
  position:fixed;
  
  top:0;
  
  left:0;
  
  width:100%;
  
  height:100vh;
  
  }