<nav class="navbar navbar-expand-md navbar-light fixed-top" id="navbar">
    <div class="container">
        <a class="navbar-brand" routerLink="">SAE-AKGEC</a>
        <nav class="navbar navbar-light navbar-expand-md">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>


        <div class="collapse navbar-collapse main-menu-item justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav animate slideIn ">
                <li class="nav-item">
                    <a class="nav-link" routerLink fragment="home">Home</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link" routerLink fragment="feature">Events</a>
                        <div class="dropdown-content animate slideIn">
                            <a routerLink="/supra">SUPRA</a>
                            <a routerLink="/efficycle">EFFICYCLE</a>
                            <a routerLink="/efficar">E-BIKE</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link  dropbtn" routerLink fragment="workshop">About Us</a>
                        <div class="dropdown-content animate slideIn">
                            <a routerLink="/home">Team SAE</a>
                            <!-- <a routerLink="/aacar">ACAAR</a> -->
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink ="/team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/blogs">Alumni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>

                <li class="nav-item">

                    <a class="nav-link" routerLink="/registration" style="text-decoration: underline;color: #41C0F0;">Register</a>
                    </li>

     
           
            </ul>
        </div>
    </div>
</nav>