<i id="burger" class="material-icons" (click)="navOpen()">menu</i>
<aside id="navAside">
    <div class="outer-close toggle-overlay">
        <a class="close" (click)="navOpen()"><span></span></a>
    </div>
    <nav>
        <ul>
            <li><a href="#about" (click)="navOpen()">About</a></li>
            <li><a routerLink="/team" (click)="navOpen()">Team</a></li>
            <li><a routerLink="/workshops/innovacion" (click)="navOpen()">Innovacion</a></li>
            <li><a routerLink="/workshops/aacar" (click)="navOpen()">Acar</a></li>
            <li><a routerLink="/blogs" (click)="navOpen()">Blogs</a></li>
            <li><a routerLink="/conatactus" (click)="navOpen()">Contact Us</a></li>
        </ul>
    </nav>
</aside>