<section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb_iner text-center">
          <div class="breadcrumb_iner_item">
            <h2>EffiCycle</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="feature_part padding_top" id="feature">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-6 ">

        <div class="feature_part_text">
          <img src="./assets/icon3.png" style="height: 200px">
          <p style="color: black">
            This competition is an eco friendly venture based upon
            Engineering design and manufacturing of Electric bike
            completely by the students. The main aim of the event
            is to generate the interest of the student in the field
            of eco-bikes,and to bring a new revolution in the field
            of biking which can be commercialized as a usable product
            for the future generation. Beside the comprehensive knowledge
            of manufacturing and fabricating a single seated DC motor driven
            vehicle to maneuver on all types of terrains the E-bike Racing
            Challenge has a chance for participants to win many awards .

          </p>
        </div>

      </div>

      <div class="col-lg-6">
        <section class="portfolio">
          <div class="container">
            <div class="row">
              <div class=" col-6 col-sm-6  portfolio-item" *ngFor="let efficycle of efficycles">
                <div class="demo">
                  <figure><img data-toggle="modal" data-target="#bootstrapModel" style="border-radius:20px"
                      src="{{efficycle.images}}" alt="example-image">
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

  </div>
</section>

<div id="bootstrapModel" class="modal fade" role="dialog">
  <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>     
       <div class="modal-body" *ngFor="let efficycle of efficycles">
        <img style="border-radius:20px" src="{{efficycle.images}}" alt="example-image">
      </div>
    </div>
  </div>
</div>