#login-page{
    padding: 100px 0px;
}

.form-login {
    max-width: 330px;
    margin: 0px auto;
    background: #fff;
    box-shadow: 5px 10px 10px -2px rgba(0, 0, 0, 0.479);
}
.btn-theme {
    color: #fff;
    background-color: #656684;
    border-color: #656684;
    margin-top: 15px;
}

.form-login h2.form-login-heading {
    margin: 0;
    padding: 20px 20px;
    text-align: center;
    background: #656684;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
}

.login-wrap {
    padding: 20px;
}
.spinner{
  color: #656684;
  background-color: #fff;
  margin: auto;
  max-width: 330px;
}

.textBox {
    position: relative;
    width: 100%;
    padding-top: 10px;
    height: 45px;
    display: inline-flex;
    margin-bottom: 3vh;
  }
  .textBox .text {
    font-weight: 500;
    width: calc(100% - 2vw);
    height: 27px;
    padding-left: 0.5vw;
    background-color: transparent;
    color: rgb(54, 52, 52);
    position: absolute;
    bottom: 0px;
    outline: none;
    border-style: solid;
    border-color: #E3E7EA;
    border-width: 0px 0px 2px 0px;
    font-size: 20px;
    -webkit-transition: border-color 0.45s linear;
    transition: border-color 0.45s linear;
  }
  
  .textBox > input.text:focus {
    border-color: #656684;
  }
  
  .textBox .label {
    opacity: 0.7;
    pointer-events: none;
    z-index: 1;
    color: #656684;
    position: absolute;
    padding-left: 0.5vw;
    bottom: 3px;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition-property: opacity bottom font-size;
    transition-property: opacity bottom font-size;
    -webkit-transition-duration: 0.45s;
    transition-duration: 0.45s;
    -webkit-transition-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
    transition-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
  }
  
  .textBox .error {
    position: absolute;
    margin-top: 40px;
    width: 100%;
    color: #FF5252;
    font-size: 12px;
    font-weight: 400;
  }
  .error-border{
    border-color: #FF5252;
  }
  
  .textBox > input.text:focus ~ .label, .textBox > input.text:not([value=""]) ~ .label {
    opacity: 1;
    z-index: 1;
    bottom: 55%;
    font-size: 12px;
    color: #81C784;
  }
  
  .textBox > input.text:focus ~ .label {
    color: #656684;
  }
  .textBox > input.text:not([value=""]){
    border-color: #A5D6A7;
  }
  #verifyEmailAlert{
    background-color: #fff;
    margin: auto;
    max-width: 330px;
  }
  #verifyEmailAlert .verify-alert-icon{
    padding: 20px;
    color: #f0ad4e!important;
    font-size: 70px;
    transition: all 1s ease-in;
    -webkit-text-stroke: 20px #fff;
}


#verifyEmailAlert .verify-alert-message{
    color: #4CAF50;
    font-size: 16px;
    -webkit-transition: all 1 ease-in 1;
    -moz-transition: all 1 ease-in 1;
    transition: all 1 ease-in 1;
    padding-bottom: 30px;
}



