<div id="login-page">
    <div class="container">
        <form class="form-login" [formGroup]="registerForm" (ngSubmit)="signup()">
            <h2 class="form-login-heading">sign up</h2>
            <div class="login-wrap" id="form">
                <div class="textBox">
                    <input class="text" type="textbox" onkeyup="this.setAttribute('value', this.value);" value="" formControlName="first_name"
                    [ngStyle]="!registerForm.controls['first_name'].valid && registerForm.controls['first_name'].touched ?{'border-color': '#EF9A9A'}:{}"
                    />
                    <label class="label"
                    [ngStyle]="!registerForm.controls['first_name'].valid && registerForm.controls['first_name'].touched ?{'color': '#FF5252'}:{}">First Name</label>
                    <label class="error text-right" *ngIf="!registerForm.controls['first_name'].valid && registerForm.controls['first_name'].touched"
                    >Please enter your first name</label>
                </div>
                <div class="textBox">
                    <input class="text" type="textbox" onkeyup="this.setAttribute('value', this.value);" value="" formControlName="last_name"
                    [ngStyle]="!registerForm.controls['last_name'].valid && registerForm.controls['last_name'].touched ?{'border-color': '#EF9A9A'}:{}"/>
                    <label class="label"
                    [ngStyle]="!registerForm.controls['last_name'].valid && registerForm.controls['last_name'].touched ?{'color': '#FF5252'}:{}">Last Name</label>
                    <label class="error text-right" *ngIf="!registerForm.controls['last_name'].valid && registerForm.controls['last_name'].touched"
                    >Please enter your last name</label>
                </div>
                <div class="textBox">
                    <input class="text" type="textbox" onkeyup="this.setAttribute('value', this.value);" value="" formControlName="email"
                    [ngStyle]="!registerForm.controls['email'].valid && registerForm.controls['email'].touched ?{'border-color': '#EF9A9A'}:{}"/>
                    <label class="label"
                    [ngStyle]="!registerForm.controls['email'].valid && registerForm.controls['email'].touched ?{'color': '#FF5252'}:{}">Email</label>
                    <label class="error text-right" *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].touched"
                    >Please enter a valid email</label>
                </div>
                <div class="textBox">
                    <input class="text" type="textbox" onkeyup="this.setAttribute('value', this.value);" value="" formControlName="username"
                    [ngStyle]="!registerForm.controls['username'].valid && registerForm.controls['username'].touched ?{'border-color': '#EF9A9A'}:{}"/>
                    <label class="label"
                    [ngStyle]="!registerForm.controls['username'].valid && registerForm.controls['username'].touched ?{'color': '#FF5252'}:{}">Username</label>
                    <label class="error text-right" *ngIf="!registerForm.controls['username'].valid && registerForm.controls['username'].touched"
                    >Please enter a valid Username</label>
                </div>
                <div class="textBox">
                    <input class="text" type="password" onkeyup="this.setAttribute('value', this.value);" value="" formControlName="password"
                    [ngStyle]="!registerForm.controls['password'].valid && registerForm.controls['password'].touched ?{'border-color': '#EF9A9A'}:{}"/>
                    <label class="label"
                    [ngStyle]="!registerForm.controls['email'].valid && registerForm.controls['password'].touched ?{'color': '#FF5252'}:{}">Password</label>
                    <label class="error text-right" *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched"
                    >Password required and it must be 6 digit long</label>
                </div>
                <button class="btn btn-theme btn-block" type="submit" [disabled]="!registerForm.valid">
                    <i class="fa fa-lock"></i> SIGN UP</button>
                <hr>
                <div class="registration text-center">
                    Already have an account?
                    <br>
                    <a  routerLink="../signin" routerLinkState="active">
                        Signin
                    </a>
                </div>
                <div class="row" *ngIf="err">
                    <div class="col-12">
                        <div class="alert alert-danger" role="alert">
                            {{err}}
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="text-center spinner" id="spinner">
            <br>
            <br>
            <i class="fa fa-spinner fa-4x fa-spin" aria-hidden="true"></i>
            <br>
            <h4>Please Wait!</h4>
            <br>
            <br>
            <br>
        </div>
        <div class="text-center hide" id="verifyEmailAlert">
            <div class="verify-alert-icon" id="verifyEmailAlertIcon">
                <i class="fa fa-check fa-2x"></i>
            </div>
            <div class="verify-alert-message" id="verifyEmailAlertMsg">
                <p>You have Successfully Registered now verify your email and <a  routerLink="../signin" routerLinkState="active">
                    Signin
                </a></p>
            </div>
            </div>
    </div>
</div>