/* Main Button Area css
============================================================================================ */
@import "variables";
.submit_btn{
	width: auto;
	display: inline-block;
	background: $color-white;
	padding: 0px 50px;
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	line-height: 50px;
	border-radius: 5px;
	outline: none !important;
	box-shadow: none !important;
	text-align: center;
	border: 1px solid $color-primary-dark;
	cursor: pointer;
	@include transform_time(0.5s);
	&:hover{
		background: transparent;
		
	}
}
.btn_1{
	display: inline-block;
	padding: 18.5px 40px;
	border-radius: 5px;
	font-size: 15px;
	font-family: $color-secondary;
	font-weight: 500;
	color: $color-white;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	text-transform: capitalize;
	background-size: 200% auto;
	border: 1px solid transparent;

	&:hover{
		color: $color-white !important;
		background-position: right center;
	}
	@media #{$small_mobile}{
		padding: 10px 30px;
		margin-top: 20px;
	}
	@media #{$large_mobile}{
		padding: 10px 30px;
		margin-top: 20px;
	}
	@media #{$tab_device}{
		padding: 10px 30px;
		margin-top: 25px;
	}
	@media #{$medium_device}{
	
	}

}
.btn_2{
	display: inline-block;
	padding: 18.5px 40px;
	border-radius: 5px;
	background-color: $color-white;
	font-size: 15px;
	font-family: $color-secondary;
	font-weight: 500;
	color: #1a1a1a;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	text-transform: capitalize;
	border: 1px solid #8f9091;
	background-size: 200% auto;
	&:hover{
		color: $color-white !important;
		border: 1px solid $color-primary;
		background-position: right center;
	}
	@media #{$small_mobile}{
		padding: 10px 30px;
		margin-top: 20px;
	}
	@media #{$large_mobile}{
		padding: 10px 30px;
		margin-top: 20px;
	}
	@media #{$tab_device}{
		padding: 10px 30px;
		margin-top: 25px;
	}
	@media #{$medium_device}{
	
	}
}
.btn_4{
	color: $color-primary;
	font-size: 15px;
	font-weight: 700;
	margin-top: 53px;
	display: inline-block;
	@media #{$tab}{
		margin-top: 30px;
	}
	@media #{$medium_device}{
	
	}
	img{
		width: 20px;
		margin-left: 15px;
	}

}
/*=================== custom button rule start ====================*/

.button{
	display: inline-block;
	border: 1px solid transparent;
	font-size: 15px;
	font-weight: 500;
	padding: 12px 54px;
	border-radius: 4px;
	color: $color-white;
	border: 1px solid $color-primary-dark;
	text-transform: uppercase;
	background-color: $color-primary;
	cursor: pointer;
	@include transform_time(0.5s);

	@media(max-width: 767px){
		font-size: 13px;
		padding: 9px 24px;
	}

	&:hover{
		color: $color-white;
	}


	&-link{
		letter-spacing: 0;
		color: #3b1d82;
		border: 0;
		padding: 0;

		&:hover{
			background: transparent;
			color: #3b1d82;
		}
	}

	&-header{
		color: $color-white;
		border-color: $color-primary-dark;

		&:hover{
			background: #b8024c;
			color: $color-white;
		}
	}

	&-contactForm{
		color: $color-white;
		border-color: $color-primary-dark;
		padding: 12px 25px;

		&:hover{
			// border-color: $title-color;
			// background: $title-color;
			// color: $color-white;
		}
	}
}


/* End Main Button Area css
============================================================================================ */