#team{
    padding:30px 10px 70px 10px;
    background: #f7f7f9;
}
#team h3{
    padding-top: 50px;
    margin-bottom: 50px;
    font-weight: 600;
    padding-bottom: 10px;
    color: #656684;
}

#team h3 span{
    border-bottom: 1px solid #656684;
}

#team .team-container{
    width: 170px;
    margin: 10px;
}
#team div .team-member{
    background-color: #000;
    height: 200px;
    overflow: hidden;  
    position: relative;    
}

#team div .member-pic{
    height: 150px;
    background-size: cover;
}
#team div .member-info{
    height: 100px;
    color: #fff;
    background-color: #212121;
    transition: 1s;
    z-index: 15;
    padding-left: 10px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
#team div .member-info:hover{
    margin-top: -50px;
    transform: scale(1.05);

}
#team div .member-info h6.text-name{
    padding-top: 15px;
    padding-bottom:10px;
    font-size: 15px;
}
#team div .member-info h6.text-left{
    padding-top: 5px;
    font-size: 10px;
    font-weight: 600; 
}
#team div .member-info h6.text-contact{
    font-size: 12px;
    font-weight: 600; 
}

#team div .member-dept{
    color: #fff;
    top: 0px;
    left:0;
    z-index: 10;
    padding-top: 0px;
    position: absolute;
}

#team div .member-dept h6{
    font-weight: 400;
    padding: 5px 15px;
    margin-bottom: 0px;
    font-size: 13px;
}