footer{
    background: #656684;
    padding: 100px 10px;
    color: #fff;
}

footer p.upper{
    margin-top: 10px;
    font-weight: 600;
}

footer input{
    padding: 15px 10px;
    font-size: 14px;
    width: 300px;
    margin: 10px;
}

footer p.lower{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
}

footer button{
    background: #f6a665;
    color: #fff;
    padding: 15px 25px;
    margin: 10px;
    border: 0px;
    outline: none;
}