<footer>
    <div class="text-center">
        <div>
            <p class="upper">Let's keep in touch.</p>
        </div>
        <div>
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="Your Email">
            <button>
                <i class="fa fa-arrow-right"></i>
            </button>
        </div>
        <div>
            <p class="lower">Join our mailing list to keep up to date on the latest news, reviews and insights.</p>
        </div>
    </div>
</footer>