@import "variables";
@import "mixins";
@import "button";
@import "common";
.blog-post-item .blog-meta{
    margin-bottom: 15px;
}

.blog-post-item .blog-meta h2 {
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    display: block;
    margin: 0;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}
.blog-meta {
    position: relative;
}
.blog-meta h2{
    position: absolute;
    top: -87px;
    left: 0;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    display: block;
    margin: 0;
    text-transform: uppercase;
    width: 100px;
}
.blog-meta span{
    display: inline-block;
    width: 100px;
    background: $color-primary;
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
}
.blog-meta p{
    display: inline-block;
    
    font-size: 14px;
    padding-left: 15px;
    color: #000000
}
.blog-post-item .blog-meta span{
    display: block;
    width: 100%;
}
.blog-post-item .thumb img{
    margin-bottom: 15px;
}

.blog-post-item h3{
    font-size: 20px;
    color: #1c1c1c;
    display: block;
    text-align: left;
    line-height: 34px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.blog-post-item .blog-meta p{
    padding-left: 0;
}
.blog-post-item .blog-meta p b,.blog-post-item p a{
    color: $color-primary
}
.blog-post-item p{
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: #1c1c1c;
}
.blog-post-item .blog-contnet h3{
    font-size: 24px;
    font-weight: 300;
    color: #808080;
}
.blog-post-item .blog-contnet h2{
    font-size: 30px;
    font-weight: 300;
    color: #808080;
    text-transform: uppercase;
    margin-bottom: 0;
}

.author-profile{
    background: $color-primary;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px 0;
}
.author-profile h4{
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    margin: 0;
    padding: 0;
}
.author-profile i{
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    color: #fff;
}
.author-profile p{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    display: block;
    margin-top: 5px;
}
.author-profile-pic img{
    display: block;
    border-radius: 5px;
    border: 10px solid #fff;
}

/* COMMENT */
.blog-comment h3{
    margin-top: 20px;
    border-bottom: 1px solid $color-primary;
    padding: 0;
}
.blog-comment h3 span{
    display: inline-block;
    background:$color-primary;
    text-align: center;
    padding: 10px 25px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.blog-comment .contact-form .form-control, .blog-comment .contact-form textarea.form-control{
    border: 1px solid #ccc
}
.blog-comment .contact-form .form-control:focus{
     border: 1px solid $color-primary
}

.blog-comment span.pori-btn{
    float: right;
    padding: 0;
}
.blog-comment .contact-form  button.submit-btn{
    color: $color-primary !important;
    outline: none
}
.blog-comment .contact-form span:hover button.submit-btn{
    color: #fff !important;
    outline: none
}
.blog-comment .contact-form {
    margin-top: 15px;
    display: block;
}

.blog-comment .contact-form button.submit-btn {
    color: $color-primary !important;
    outline: none;
    padding: 15px 40px !important;
}
.blog-comment .contact-form .row{
    margin-left: -7px;
    margin-right: -7px;
}
.blog-comment .contact-form .col-md-6, .blog-comment .contact-form .col-md-12{
    padding-left: 7px;
    padding-right: 7px;

}
.footer-social-media{
    display: block;
    margin-top: 10px;
}
.footer-social-media ul{
    margin: 0;
    padding: 0;
    display: block;
}
.footer-social-media ul li{
    list-style: none;
    display: inline-block;
    margin-right: 0px;
}
.footer-social-media ul li a{
    color: #fff;
}
.footer-social-media ul li a i{
    height: 35px;
    width: 35px;
    font-size: 20px;
    border: 1px solid #fff;
    text-align: center;
    padding: 7px 0;
}
.footer-social-media ul li a:hover i{
    background: $color-primary;
    border: 1px solid $color-primary;
}


.contact-form{
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
}
.contact-form .col-md-6{
    display: block;
}

.contact-form .input-group{
    width: 100%;
    display: block;
}
.contact-form  input.form-control, .contact-form textarea.form-control{
    width: 100%;
    display: block;
    background: transparent;
    border: 1px solid #fff;
    height: 50px;
    border-radius: 0px;
}
.contact-form  textarea.form-control{
    height: 120px;
}
.contact-form .form-control:focus, .contact-form .form-control:hover{
    border: 1px solid $color-primary;
    box-shadow: none;
    color: $color-primary !important;
}

.banner_btn_2{
    color: $color-primary;
    border: 1px solid $color-primary;
    background-color: transparent;
    
    &:hover{
        background-color: $color-primary !important;
        color: $color-white;
        border: 1px solid $color-primary;
    }
}
