.container {
    padding-left: 1px;
    padding-right:1px;
}

@media (min-width: 992px){
    .container {
        max-width: 93%;
    }
}
@media (min-width: 1500px){
    .container{
        max-width: 1410px;
    }
}

.container-fluid{
    background: #f7f7f9;
    padding: 0px 0px 0px 0px;
}

.content-container{
    box-shadow: 0px 0px 20px 20px #d3d0cf31;
}

/* Header Styles here */
.header-left h1{
    padding: 25px;
    padding-bottom: 0px;
    margin-bottom: 3px;
    font-weight: 900;
    font-size: 50px;
    color: #7f716e;
}
.header-left p{
    padding: 25px;
    padding-top: 0px;
    font-size: 16px;
    font-weight: 200;
    color: #f6a665;
}
@media (max-width: 800px){
    .header-left h1 {
        padding: 15px;
        font-size: 34px;
        margin: 0px;
    }
    .header-left p{
        display: none;
    }
} 


/* Footer Style here */
.footer{
    color: #84859d;
}

.footer p{
    margin: 2px;
    font-size: 14px;
    font-weight: 600;
}
.footer p.phone{
    color: #f6a665;
    font-size: 16px;
}

.footer p a{
    color: #f6a665;
    font-size: 15px;
}

.footer div i{
    padding: 10px;
    color: #f6a665;
    font-size: 20px;
}

.footer div.box{
    padding: 20px 15px;
}

.footer-img{
    margin-top: -90px;
}

.footer-img img{
    min-height: 100px;
}

.footer div.row{
    padding-top: 60px;
    padding-bottom: 60px;
}