<div class="container-fluid">
    <div>
        <div class="container header">
            <div class="header-left">
                <h1>SAE AKGEC</h1>
                <p> Society of Automotive Engineers</p>
            </div>
            <div class="header-right">

            </div>
        </div>
        <div class="content-container container">
            <app-navbar></app-navbar>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
        <div class="container footer">
            <div class="row no-gutters justify-content-between">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="box">
                            <h5>Contact Us</h5>
                            <p>For Enquiries:</p>
                            <p class="phone">+91 9560779377</p>
                            <p>Or fill out our
                                <a routerLink="./contact">Contact Form</a>
                            </p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="box">
                            <h5>Society of Automotive Engineers</h5>
                            <p>Copyright © 2018 sae akgec. All rights reserved.</p>
                            <p>Made By: Sae Members</p>
                            <div>
                                <a href="http://goog.gl/Fc7nWZ">
                                    <i class="fa fa-facebook "></i>
                                </a>
                                <a href="https://www.youtube.com/channel/UCV2Mlb40Cmham8BrsnKM2XQ">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-img">
            <img src="{{footer_img}}" class="img-fluid">
        </div>
    </div>
</div>