    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        @media(max-width:786px){
            img {
                width:100%
            }
        }
        @media(min-width:786px){
            img {
                width:50%
            }
        }
    </style>
</head>
<body>

    <h1 style="text-align :center">Team Name: {{team}}</h1>
    <h1  style="text-align: center;">"If you want something new,you have to stop doing something old"</h1>
    <h2  style="font-weight: 600;text-align: center;">Congratulations,Your team has successfully completeled payment process for INNOVACION'20  Workshop and hence moved one step closer to being an Innovator!!!!!</h2>
    
    <img src="https://raw.githubusercontent.com/sae-akgec/innovacion-back-end/master/Assets/Organizer%20heads/1wefsd9265.png">
    <p style="text-align: center;">Think - Create - Innovate</p>
    <h2 style="font-weight: 800;">Important GuideLines</h2>
   <p style="font-weight: 600;">1)Bring your Laptops with laptop charger</p>
   <p style="font-weight: 600;">2)Micro-Usb cable  </p>
   <p style="font-weight: 600;">3)Power Bank</p>

     <h1 style="font-weight: 800;">When and Where ?</h1>
    <p style="font-weight: 600;">1)Venue: Main Seminar Hall</p>
    <p style="font-weight: 600;">2)Date: 1 Feb and 2 Feb 2020</p>
    <p style="font-weight: 600;">3)Time: 8:30 am to 4:00 pm</p>
    <br>
    <h2 style="text-align: center;">Hope to see you there</h2>
    <h1 style="font-weight: 600;">For any query contact us at:</h1>
    <p>Rishabh Jain: <p style="color: rgba(51, 51, 216, 0.938);">7071344681</p></p>
    <p>Umang Khare:<p style="color: rgba(51, 51, 216, 0.938);">7985124775 </p></p>
    <h4 style="text-align: center;">TEAM SAE-AKGEC</h4>
<div style="background-color: rgba(235, 230, 230, 0.781);">
<h2 style="text-align:center;"> <a href="https://www.instagram.com/sae_akgec/">@sae_akgec</a></h2>
<h2 style="text-align:center"> <a  href="https://www.facebook.com/saeakgec/">sae-akgec</a></h2>
</div>
</body>

</html>