<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        @media(max-width:786px){
            img {
                width:100%
            }
        }
        @media(min-width:786px){
            img {
                width:50%
            }
        }
    </style>
</head>
<body>
    
    <h1>Complete your payment to confirm your seat for INNOVACION'20  workshop</h1>
    
    <img src="https://raw.githubusercontent.com/sae-akgec/innovacion-back-end/master/Assets/Organizer%20heads/1wefsd9265.png">
    <h3>Pay or scan directly through UPI: </h3>
    <h2> UPI : umangkhare1407@okhdfcbank</h2>
    <img src="https://raw.githubusercontent.com/sae-akgec/innovacion-back-end/master/Assets/Organizer%20heads/WhatsApp%20Image%202020-01-18%20at%2013.10.21.jpeg">
    <p style="text-align: center;">Think - Create - Innovate</p>
    <h2>Important GuideLines</h2>
    <p>1) Mail us a payment screenshot for confirmation with your TeamId at :<br>
    saeakgec.event@gmail.com </p>
    <p>2)We will reply you within 24 hours of confirmation mail. </p>
    <br>
    <h4 style="text-align: center;">TEAM SAE-AKGEC</h4>
<div style="background-color: rgba(128, 128, 128, 0.781);"></div>
<h2 style="text-align:center;"> <a href="https://www.instagram.com/sae_akgec/">@sae_akgec</a></h2>
<h2 style="text-align:center"> <a  href="https://www.facebook.com/saeakgec/">sae-akgec

</a></h2>
</body>

</html>