<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        @media(max-width:786px) {
            img {
                width: 100%
            }
        }

        @media(min-width:786px) {
            img {
                width: 50%
            }
        }
    </style>
</head>

<body>

    <h1>Hello {{team}}</h1>
    <img src="https://github.com/sae-akgec/innovacion-back-end/blob/master/aacar_logo_black.png?raw=true"
        style="background-color: white;">
    <p style="text-align: center;">-----Aacar------</p>
    <h1 style="font-weight:bolder">Congratulations on successfully registering for Aacar 7.0!!
        To complete your registration, complete the fee payment of 350Rs </h1>
    
    <br>
    <h1 style="text-align: center;">You will receive a confirmation mail after payment is done within 2 days.</h1>
    <h2 style="text-align: center;">Payments need to be completed and verified within 24 hours of registration after
        which your registration will expire.</h2><br>
    <h1 style="text-align: center;">Pay at UPI : umangkhare1407@okhdfcbank</h1>    
    <h2 style="text-align: center;">"Recreate, Redesign, Renovate"</h2>

    <h4 style="text-align: center;">TEAM SAE-AKGEC</h4>
    <div style="background-color: rgba(128, 128, 128, 0.781);"></div>
    <h2 style="text-align:center;"> <a href="https://www.instagram.com/sae_akgec/">@sae_akgec</a></h2>
    <h2 style="text-align:center"> <a href="https://www.facebook.com/saeakgec/">sae-akgec</a></h2>
</body>

</html>