<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        @media(max-width:786px){
            img {
                width:100%
            }
        }
        @media(min-width:786px){
            img {
                width:50%
            }
        }
    </style>
</head>
<body>
    <h1>{{team}}</h1>
    <h2>Your team Id : {{teamid}}<h2>    
    <img src="https://raw.githubusercontent.com/sae-akgec/innovacion-back-end/master/Assets/Organizer%20heads/1wefsd9265.png">
    <p style="text-align: center;">Think - Create - Innovate</p>
    <h2 style="font-weight: 800;">Important GuideLines</h2>
    <h1 style="font-weight:bolder">On seat confirmation we will send you a confirmation mail</h1>
    <br>
    <h4 style="text-align: center;">TEAM SAE-AKGEC</h4>
<div style="background-color: rgba(128, 128, 128, 0.781);"></div>
<h2 style="text-align:center;"> <a href="https://www.instagram.com/sae_akgec/">@sae_akgec</a></h2>
<h2 style="text-align:center"> <a  href="https://www.facebook.com/saeakgec/">sae-akgec

</a></h2>
</body>

</html>