<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        @media(max-width:786px){
            img {
                width:100%
            }
        }
        @media(min-width:786px){
            img {
                width:50%
            }
        }
    </style>
</head>
<body>
    
    <h1>YOUR REGISTRATION IS SUCCESSFULLY COMPLETD For INNOVACION'20 </h1>
    
    <img src="https://raw.githubusercontent.com/sae-akgec/innovacion-back-end/master/Assets/Organizer%20heads/1wefsd9265.png">
    <h3>Confirm your seat by completing the payment process</h3>
    <h2> UPI : umangkhare1407@okhdfcbank</h2>
    <img src="https://raw.githubusercontent.com/sae-akgec/innovacion-back-end/master/Assets/Organizer%20heads/barcode.png">
    <h2> Mail us a payment scrennshot for confirmation with your TeamId at :<br>
    saeakgec.event@gmail.com </h2>
    <h4>Stay Tuned</h4>
   <h2> <a style="text-align:center;"  href="https://www.instagram.com/sae_akgec/">@sae_akgec</a></h2><br>
    <h2> <a style="text-align:center"  href="https://www.facebook.com/saeakgec/">@facebook</a></h2>
</body>

</html>