<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello Team {{team}}</h1>
 
<p>
SAE-AKGEC is overwhelmed by witnessing that our freshers are highly interested and dedicated towards our inter-college workshop INNOVACION'20. Since, some teams have registered themselves but have not completed their payment for confirmation of their seats. They are hereby informed to complete their payment process ASAP. In case not completed, your team's registration will be disqualified.
</p>
<h3>HURRY UP!!</h3>
<h3> ALL THE VERY BEST!!!!</h3>
<br> 
Regards,
<h3> SAE INDIA collegiate Club, AKGEC</h3>

 


</body>
</html>