<section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb_iner text-center">
          <div class="breadcrumb_iner_item">
            <h2>supra</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="feature_part padding_top" id="feature">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-6 ">
        <div class="col-lg-6">
            <div class="feature_part_text">
              <h3>SUPRA</h3>
              <p>SAEINDIA, the Indian chapter of the Society of Automotive Engineers has been organizing the event for
                its sixth consecutive year, which sees students from engineering colleges across the country battle it
                out against each other in their quest to apply their technical knowledge on the ground by
                conceptualizing and developing a formula racing car.
                SUPRA SAEINDIA comprise of a series of Static and Dynamic events spread over five days, concluding with
                a final Endurance run and a valedictory function.
              </p>
            </div>
         
        </div>
      </div>
     
      <div class="col-lg-6">
        <div class="feature_part_text">
           <div class="row">
          <div class="col-sm-6 portfolio-item " >
            <img src="assets/members/1.jpg" class="img-responsive" alt="">
          </div>
          <div class=" col-sm-6 portfolio-item ">
            <img src="assets/members/2.jpg" class="img-responsive" alt="">
          </div>
          <div class=" col-sm-6 portfolio-item ">
            <img src="assets/members/3.jpg" class="img-responsive" alt="">
           

          </div>
          <div class=" col-sm-6 portfolio-item ">

            <img src="assets/members/3.jpg" class="img-responsive" alt="">
            

          </div>
          <div class=" col-sm-6 portfolio-item">

            <img src="assets/members/2.jpg" class="img-responsive" alt="">
   

          </div>
          <div class=" col-sm-6 portfolio-item">

            <img src="assets/members/1.jpg" class="img-responsive" alt="">
            

          </div>

        </div>
      </div>
    </div>
  </div>
