<div class="container-fluid">
  <!-- form header -->
        <div class="row">
          <div class="col">
            <h1>Registration Form</h1>
            <hr>
          </div>
        </div>
      
        <!-- main form -->
        <div class="row">
          <form action="" style="width:100%;" [formGroup]="nestedForm">
            <div class="col">
      
              <!-- Team Info starts here-->
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="fnText" >Team Name</label>
                    <input type="text" class="form-control" id="fnText" formControlName="TeamName" placeholder="Enter Team name"
                    [ngClass]="{'form-control': true,
                    'is-invalid': TeamName.invalid && TeamName.touched,
                    'is-valid': TeamName.valid}" id="fnText" >
                    <small id="fnHelp" *ngIf="TeamName.errors?.required && TeamName.touched" class="form-text custom-invalid-feedback">Field is required</small>
                 <small id="fnHelp" *ngIf="TeamName.errors?.minlength && TeamName.touched" class="form-text custom-invalid-feedback">Value must contain atleast 2 characters</small>
                  </div>
                </div>
                <div class="form-group col-6">
                        <label for="state">Members</label>
                        <select id="inputMember" class="form-control">
                          <option selected>0</option>
                          <option *ngFor="let members of teamMembers" [value]="members">{{members}}</option>
                        </select>
                      </div>
                <div class="col-6">
                     <div class="form-group">
                            <label for="workshops">SelectWorkshop</label>
                            <select id="inputState" class="form-control" formControlName="SelectWorkshop">
                              <option selected [ngValue]="null">Choose workshop</option>
                              <option *ngFor="let workshop of workshops" [value]="workshop" >{{workshop}}</option>
                            </select>
                          </div>
                     <div>
                  </div>
                </div>
                <div class="col-6">
                        <div class="form-group">
                          <label for="fnText">Team Leader Email</label>
                          <input type="text" class="form-control" id="fnText" formControlName="Email" placeholder="Enter Team Email" id="fnText">

                        </div>
                      </div>
              </div>
              
      
              <!-- seperator -->
              <div class="row">
                <div class="col">
                  <hr>
                </div>
              </div>
      
      
              <!-- Member Form Portion-->
              <div class="row" formArrayName="members" >
                <div class="col-12" *ngFor="let group of membersArray.controls; let i = index;" [formGroupName]="i ">
                  <div class="row">
                    <div class="col-12">
                        <div class="col-12 control-buttons">
                      <div class="row">
                                <div class="col-6">
                             <a style="cursor: pointer;" (click)=" addMembers()"><small>Add Member</small><img src="/assets/icon/add.svg" alt="" ></a>
                                 </div>
                                 <div class="col-6">
                              <a style="cursor: pointer;" (click)="removeMembers(i)" ><small>Remove Member</small><img src="/assets/icon/remove.svg" alt="" width="24" height="24"></a>
                                 </div>
                     </div>
                                <hr>
                     <div class="col-12">
                          <h4>Member {{i+1}}</h4>
                        </div>
                      
                      </div>
                      <!-- <hr> -->
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="addText">Name</label>
                        <input type="text" class="form-control" id="addText" formControlName="Name" placeholder="Enter your Name"
                        [ngClass]="{'form-control': true,
                        'is-invalid': group.controls.Name.invalid && group.controls.Name.touched,
                        'is-valid': group.controls.Name.valid}">   
                        <small id="fnHelp" *ngIf="group.controls.Name.errors?.required && group.controls.Name.touched" class="form-text custom-invalid-feedback">Field is required</small>
                        <small id="fnHelp" *ngIf="group.controls.Name.errors?.minlength && group.controls.Name.touched" class="form-text custom-invalid-feedback">Value must contain atleast 2 characters</small>       
                      </div>
                    </div>
                    <div class="col-6">
                          <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="text" class="form-control" id="Email" placeholder="Enter Email"  formControlName="Email" value="temporary" >
                          </div>
                            
                    </div>
                     <div class="col-6">
                          <div class="form-group">
                            <label for="branch">Branch</label>
                            <select id="inputBranch" class="form-control" formControlName="Branch" [ngClass]="{'form-control': true,
                            'is-invalid': group.controls.Branch.invalid && group.controls.Branch.touched,
                            'is-valid': group.controls.Branch.valid}">
                              <option selected [ngValue]="null">Choose your Branch</option>
                              <option *ngFor="let branch of branches" [value]="branch">{{branch}}</option>
                            </select>
                            <small *ngIf="group.controls.Branch.invalid && group.controls.Branch.touched" class="form-text custom-invalid-feedback">Field is required</small>
                          </div>
                     </div>
                     <div class="col-6">
                            <div class="form-group">
                              <label for="state">CollegeName</label>
                              <select id="inputCollege" class="form-control" formControlName="CollegeName" [ngClass]="{'form-control': true,
                              'is-invalid': group.controls.CollegeName.invalid && group.controls.CollegeName.touched,
                              'is-valid': group.controls.CollegeName.valid}" >
                                    <option selected [ngValue]="null">Choose your college</option>
                                <option *ngFor="let college of colleges" [value]="college">{{college}}</option>
                              </select>
                              <small *ngIf="group.controls.CollegeName.invalid && group.controls.CollegeName.touched" class="form-text custom-invalid-feedback">Field is required</small>

                            </div>
                       </div>
                     <div class="col-6">
                          <div class="form-group">
                            <label for="phoneNumber">PhoneNumber</label>
                            <input type="text" class="form-control" id="phoneNumber"  formControlName="PhoneNumber" placeholder="Enter your Phone Number"[ngClass]="{'form-control': true,
                            'is-invalid': group.controls.PhoneNumber.invalid && group.controls.PhoneNumber.touched,
                            'is-valid': group.controls.PhoneNumber.valid}">
                            <small id="fnHelp" *ngIf="group.controls.PhoneNumber.errors?.required && group.controls.PhoneNumber.touched" class="form-text custom-invalid-feedback">Field is required</small>
                            <small id="fnHelp" *ngIf="group.controls.PhoneNumber.errors?.minlength && group.controls.PhoneNumber.touched" class="form-text custom-invalid-feedback">Value must contain atleast 2 characters</small>
                          </div>
                     </div>
                     <div class="col-6">
                            <div class="form-group">
                              <label for="zipcode">StudentNumber</label>
                              <input type="text" class="form-control" id="studentNumber" formControlName="StudentNumber" 
                               placeholder="Enter your Student Number" [ngClass]="{'form-control': true,
                               'is-invalid': group.controls.StudentNumber.invalid && group.controls.StudentNumber.touched,
                               'is-valid': group.controls.StudentNumber.valid}">
                               <small id="fnHelp" *ngIf="group.controls.StudentNumber.errors?.required && group.controls.StudentNumber.touched" class="form-text custom-invalid-feedback">Field is required</small>
                               <small id="fnHelp" *ngIf="group.controls.StudentNumber.errors?.minlength && group.controls.StudentNumber.touched" class="form-text custom-invalid-feedback">Value must contain atleast 2 characters</small>
                            </div>
                       </div>
                  </div>
                </div>
              </div>
      
              <!-- seperator -->
              <div class="row">
                <div class="col">
                  <hr>
                </div>
              </div>
      
              <!-- final action buttons -->
              <div class="row justify-content-center">
                <div class="col-2">
                  <button type="button" class="btn btn-primary" [disabled]="nestedForm.invalid && submission" (click)="submitHandler()" id="submitbutton">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal fade"  id="instModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Instructions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-muted">
                        <strong>Step 1:</strong> You are required to form a group [maximum members: 5, Inter-College, Inter-Branch or
                        Inter-Year]
                        <br>
                        <strong>Step 2:</strong> All the members of the group are required to Sign-up on the website.
                        <br>
                        <strong>Step 3:</strong> After signing up, you are required to verify the confirmation link on your registered
                        mail.
                        <br>
                        <strong>Step 4:</strong> Anyone member of your group can now register your team for the workshop.
                        <br>
                        <strong>Step 5:</strong> The payment link would be sent to the first member of the team.
                        <br>
                        <strong>Step 6:</strong> Proceed for the payment.
                        <br>
                        <strong>Step 7:</strong> Whoa!! You are registered successfully for the workshop.
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>