<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<div class="cont_modal">
  <div class="container">
    <div class="container__item landing-page-container">
      <div class="content__wrapper">

        <div class="ellipses-container">
          <div class="ellipses-inner">
            <!-- <img src="{{INNOVACION}}" class="img-fluid"> -->
            <h2 class="greeting text-center">Innovacion'19
            </h2>
          </div>

          <div class="ellipses ellipses__outer--thin">

            <div class="ellipses ellipses__orbit"></div>

          </div>

          <div class="ellipses ellipses__outer--thick"></div>
        </div>
      </div>

    </div>

  </div>
</div>