<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<div class="cont_modal">
  <div class="container">
    <div class="container__item landing-page-container">
      <div class="content__wrapper">
        <div class="ellipses-container">
          <div class="ellipses-inner">
            <img src="{{INNOVACION}}">
            <h2 class="greeting text-center">Innovacion 18</h2>
            <p class="text-center">2018 to 2019</p>
            <div class="register-button text-center"><a [routerLink]="['register']">
                <button>Register Now</button>
              </a> </div>
          </div>
        </div>
        <div class="ellipses ellipses__outer--thin">
          <div class="ellipses ellipses__orbit"></div>
        </div>
        <div class="ellipses ellipses__outer--thick"></div>
      </div>

    </div>

  </div>
</div>