<!-- START TITLE SECTION -->
<section class="section blog-title-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-contnet">
          <h2>Blog</h2>
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Blog</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- START BLOG CONTAINER SECTION -->
<section class="section blog-container">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-8">
        <router-outlet></router-outlet>
      </div><!-- END OF BLOG CONTENT -->
      <div class="col-md-3 col-sm-4 sidebar">
        <div class="row">
          <div class="col-md-12">
            <div class="widget">
              <div class="search">
                <div class="input-group">
                  <input type="text" class="form-control search-control" placeholder="Search for...">
                </div><!-- /input-group -->
              </div>
            </div><!-- END OF WIDRGT -->
            <div class="widget">
              <h3 class="headline">CATEGORIES</h3>
              <ul>
                <li><a href="#"><b>WEB DESIGN</b> <span>01</span></a></li>
                <li><a href="#"><b>ANNOUNCEMENTS</b> <span>09</span></a></li>
                <li><a href="#"><b>HOT TREND</b> <span>01</span></a></li>
                <li><a href="#"><b>POPULAR NEWS</b> <span>01</span></a></li>
                <li><a href="#"><b>Construction</b> <span>01</span></a></li>
                <li><a href="#"><b>Lifestyle</b> <span>01</span></a></li>
                <li><a href="#"><b>Photography</b> <span>01</span></a></li>
                <li><a href="#"><b>Technology</b> <span>01</span></a></li>
                <li><a href="#"><b>RESOURCES & TOOLS</b> <span>01</span></a></li>
                <li><a href="#"><b>DESIGN & ILLUSTRATION</b><span>01</span></a></li>
                <li><a href="#"><b>PROMOTION</b> <span>01</span></a></li>
                <li><a href="#"><b>ANNOUNCEMENTS</b> <span>01</span></a></li>
                <li><a href="#"><b>WEB Development</b> <span>01</span></a></li>
                <li><a href="#"><b>Wordpress</b> <span>01</span></a></li>
              </ul>
            </div><!-- END OF WIDRGT -->
            <div class="widget">
              <h3 class="headline">Recent Posts</h3>
              <div class="recent-item">
                <div class="recent-post">
                  <img src="https://revolthemes.net/demo/klasik/html/images/blog/blog1.jpg" class="img-responsive" width="255" height="120" alt="">
                  <a href="#">
                    <div class="recent-hover">
                      <h5>Dramatically Synthesize</h5>
                      <p><i class="pe-7s-clock"></i>May 12. 2016 <i class="pe-7s-user"></i> By Admin </p>
                    </div>
                  </a>
                </div>
                <div class="recent-post">
                  <img src="https://revolthemes.net/demo/klasik/html/images/blog/blog1.jpg" class="img-responsive" width="255" height="120" alt="">
                  <a href="#">
                    <div class="recent-hover">
                      <h5>Dramatically Synthesize</h5>
                      <p><i class="pe-7s-clock"></i>May 12. 2016 <i class="pe-7s-user"></i> By Admin </p>
                    </div>
                  </a>
                </div>
                <div class="recent-post">
                  <img src="https://revolthemes.net/demo/klasik/html/images/blog/blog1.jpg" class="img-responsive" width="255" height="120" alt="">
                  <a href="#">
                    <div class="recent-hover">
                      <h5>Dramatically Synthesize</h5>
                      <p><i class="pe-7s-clock"></i>May 12. 2016 <i class="pe-7s-user"></i> By Admin </p>
                    </div>
                  </a>
                </div>
                <div class="recent-post">
                  <img src="https://revolthemes.net/demo/klasik/html/images/blog/blog1.jpg" class="img-responsive" width="255" height="120" alt="">
                  <a href="#">
                    <div class="recent-hover">
                      <h5>Dramatically Synthesize</h5>
                      <p><i class="pe-7s-clock"></i>May 12. 2016 <i class="pe-7s-user"></i> By Admin </p>
                    </div>
                  </a>
                </div>

              </div>
            </div><!-- END OF WIDRGT -->
            <div class="widget">
              <h3 class="headline">ARCHIVES</h3>
              <ul>
                <li><a href="#"><b>AUGUST 2016</b> <span>01</span></a></li>
                <li><a href="#"><b>JULY 2016</b> <span>09</span></a></li>
                <li><a href="#"><b>JUNE 2016</b> <span>01</span></a></li>
                <li><a href="#"><b>MAY 2016</b> <span>01</span></a></li>
                <li><a href="#"><b>APRILL 2016</b> <span>01</span></a></li>
                <li><a href="#"><b>march 2016</b> <span>01</span></a></li>
                <li><a href="#"><b>febroary 2016</b> <span>01</span></a></li>
                <li><a href="#"><b>january 2016</b> <span>01</span></a></li>
              </ul>
            </div><!-- END OF WIDRGT -->
            <div class="widget flicker">
              <h3 class="headline">FLICKR FEED</h3>
              <div class="widget-items">
                <a href="#"><img src="images/blog/feed1.jpg" class="img-responsive" width="80" height="80" alt=""></a>
                <a href="#"><img src="images/blog/feed2.jpg" class="img-responsive" width="80" height="80" alt=""></a>
                <a href="#"><img src="images/blog/feed3.jpg" class="img-responsive" width="80" height="80" alt=""></a>
                <a href="#"><img src="images/blog/feed4.jpg" class="img-responsive" width="80" height="80" alt=""></a>
                <a href="#"><img src="images/blog/feed5.jpg" class="img-responsive" width="80" height="80" alt=""></a>
                <a href="#"><img src="images/blog/feed6.jpg" class="img-responsive" width="80" height="80" alt=""></a>
                <a href="#"><img src="images/blog/feed7.jpg" class="img-responsive" width="80" height="80" alt=""></a>
                <a href="#"><img src="images/blog/feed8.jpg" class="img-responsive" width="80" height="80" alt=""></a>
                <a href="#"><img src="images/blog/feed9.jpg" class="img-responsive" width="80" height="80" alt=""></a>
              </div><!-- END OF /. WIDGET ITEM -->
            </div><!-- END OF /. WIDGET -->
          </div>
        </div><!-- END OF SODEBAR -->
      </div><!-- END OF /.COUMN -->
    </div><!-- END OF /. ROW -->
  </div><!-- END /. CONTAINER -->
</section><!-- END OF /. BLOG CONTAINRE -->