<section class="feature_part padding_top" id="feature">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 ">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-6">
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <a routerLink="/efficar"><img src="assets/icon/feature_icon_1.png" alt=""></a>
                                <h4>EFFICAR</h4>
                                <p> A fuel-efficient car conserves fuel by means of its construction and
                                    forward-thinking technologies, including a variety of advanced powertrain designs.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="single_feature">
                            <div class="single_feature_part">
                               <a routerLink="/efficycle"><img src="assets/icon/feature_icon_2.svg" alt=""></a>
                                <h4>EFFICYCLE</h4>
                                <p> EFFI-CYCLE providing opportunity to the students to conceive, design and fabricate a
                                    three-wheel configuration vehicle powered by human-electric hybrid power and capable
                                    of seating
                                    two passengers. </p>
                            </div>
                        </div>
                        <div class="single_feature">
                            <div class="single_feature_part single_feature_part_2">
                                    <a routerLink="/supra"><img src="assets/icon/feature_icon_3.png" alt=""></a>
                                <h4>SUPRA</h4>
                                <p>Supra conceptualizing and developing a formula racing car. Guided by a standard rule
                                    book, the Formula Supra
                                    requires teams to build a single-seat race vehicle, using an engine having a maximum
                                    capacity of 610cc. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="feature_part_text">
                    <h2>Events</h2>
                    <p>SAE-AKGEC takes parts in various competitions throughout India conducted by SAE INDIA and various
                        other organization. Students of society work hard for these competitions throughout the year.
                        They are guided by the faculty advisor and other teaching staff in these competitions. The only
                        objective of student is to learn and win in these competions. </p>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-5">
                            <div class="feature_part_text_iner">
                                <h4>100+</h4>
                                <p>Students</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-5">
                            <div class="feature_part_text_iner">
                                <h4>20+</h4>
                                <p>Competitions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img src="assets/animate_icon/Shape-1.png" alt="" class="feature_icon_1">
    <img src="assets/animate_icon/Shape-14.png" alt="" class="feature_icon_2">
    <img src="assets/animate_icon/Shape.png" alt="" class="feature_icon_3">
    <img src="assets/animate_icon/shape-3.png" alt="" class="feature_icon_4">
</section>