<section id="team" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 my-4">
                <h1 style="font-weight: bold">Our Team</h1>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item" *ngFor="let member of members">
                <div class="demo">  
                    <figure class="imghvr-zoom-out-flip-vert scale"><img src="{{member.image}}" alt="example-image">
                        <figcaption>
                            <h6>{{member.name}}</h6>
                            <h5>{{member.branch}}</h5>
                            <div class="row" style="padding-top: 5px">
                                <div class="col text-center">
                                    <a href="{{member.facebooklink}}" target="_blank"><i
                                            class="text-white fab fa-facebook fa-lg" aria-hidden="true"></i></a>
                                </div>
                                <div class="col text-center">
                                    <a *ngIf="member.githublink" href="{{member.githublink}}" target="_blank"><i
                                            class="text-white fab fa-github fa-lg" aria-hidden="true"></i></a>
                                </div>
                                <div class="col text-center">
                                    <a href="{{member.linkedInlink}}" target="_blank"><i
                                            class="text-white fab fa-linkedin fa-lg" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>