<div class="row" id="team">
    <div class="col-md-4 col-sm-6 portfolio-item">
             <a href="#" class="portfolio-link" data-toggle="modal">
                 <div class="portfolio-hover">
                     <div class="portfolio-hover-content">
                         <i class="fas fa-user-alt"></i>
                     </div>
                 </div>
                 <img src="assets/compressjpeg/12.jpg" class="img-responsive" alt="">
             </a>
             
         </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
             <a href="#" class="portfolio-link" data-toggle="modal">
                 <div class="portfolio-hover">
                     <div class="portfolio-hover-content">
                         <i class="fas fa-user-alt"></i>
                     </div>
                 </div>
                 <img src="assets/compressjpeg/pp.jpg" class="img-responsive" alt="">
             </a>
             
         </div>   
             <div class="col-md-4 col-sm-6 portfolio-item">
             <a href="#" class="portfolio-link" data-toggle="modal">
                 <div class="portfolio-hover">
                     <div class="portfolio-hover-content">
                         <i class="fas fa-user-alt"></i>
                     </div>
                 </div>
                 <img src="assets/compressjpeg/29.jpg" class="img-responsive" alt="">
             </a>
             
         </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
             <a href="#" class="portfolio-link" data-toggle="modal">
                 <div class="portfolio-hover">
                     <div class="portfolio-hover-content">
                         <i class="fas fa-user-alt"></i>
                     </div>
                 </div>
                 <img src="assets/compressjpeg/gg.jpg" class="img-responsive" alt="">
             </a>
             
         </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
             <a href="#" class="portfolio-link" data-toggle="modal">
                 <div class="portfolio-hover">
                     <div class="portfolio-hover-content">
                         <i class="fas fa-user-alt"></i>
                     </div>
                 </div>
                 <img src="assets/compressjpeg/5.jpg" class="img-responsive" alt="">
             </a>
             
         </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
             <a href="#" class="portfolio-link" data-toggle="modal">
                 <div class="portfolio-hover">
                     <div class="portfolio-hover-content">
                        <i class="fas fa-user-alt"></i>
                     </div>
                 </div>
                 <img src="assets/compressjpeg/7.jpg" class="img-responsive" alt="">
             </a>
             
         </div>
</div>