<section id="team" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 my-4">
                <h1 style="font-weight: bold">Our Team</h1>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/12.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Aditya Rai</h6>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/31.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Abhinav Kumar</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/pp.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Alok Mishra</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/5.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Sooraj Singh</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/29.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Stuti Singh</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/331.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Mishank Gautam</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/gg.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Deepanshu Tyagi</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/18.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Avneesh Kumar</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/27.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Rohit Sinha</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/7.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Ananya Singh</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/96.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Satyam Gupta</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/11.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Ashutosh Yadav</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/24.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Honey Singh</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/28.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Gaurav Kumar</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/26.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Ajay Rai</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/25.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Amit Singh</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/4.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Sanjay Kumar</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/2.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Ishaan Arora</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/15.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Akshat Shrivastav</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/rishabh.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Rishabh Jain</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/6.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Abhishek Singh</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/22.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Umang Khare</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/14.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Sparsh Jain</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 portfolio-item">
                <div class="demo">
                    <figure class="imghvr-shutter-in-out-horiz scale"><img src="assets/compressjpeg/19.jpg"
                            alt="example-image">
                        <figcaption>
                            <h6>Bobby Sirohi</h6>
                        </figcaption>
                    </figure>
                </div>

            </div>


        </div>
    </div>
</section>