nav{
    background: #fff;
    padding:0px 0px;
    color: rgb(245, 152, 77);
}
.container {
    padding-left: 1px;
    padding-right:1px;
}
@media (min-width: 992px){
    .container {
        max-width: 93%;
    }
}
@media (min-width: 1500px){
    .container{
        max-width: 1410px;
    }
}
.nav-stick {
    position: absolute;
    margin-left: 4%;
    margin-right: 4%;
}
.nav-link{
    color: rgb(245, 152, 77);
    font-weight: 600;
    padding: 25px 20px!important;
    border-bottom: 3px solid #fff;
    letter-spacing: 0.5;
    font-size: 16px;
    
}
.nav-link:hover{
    border-bottom: 3px solid rgb(245, 152, 77);
    background-color: #f7f7f9;
}

.navbar-toggler:focus{
    outline: 0px;
}
button.navbar-toggler span i{
    color: rgb(245, 152, 77);
    padding-right: 10px;
}
div.justify-content-end a{
    padding: 25px 50px !important;
    transition: all .4s fade-out;
}
div.justify-content-end a:hover{
    background: rgb(240, 168, 110);
    color: #fff;
    border-bottom: 3px solid rgb(240, 168, 110);
}

#empty-navbar{
    height: 75px;
    display: none;
}
#empty-navbar.do{
    display: block;
}
/* Modal Button */
#modalButton button{
    padding: 8px 40px;
    border-radius: 25px;
    background: transparent;
    border: 2px solid rgb(245, 152, 77);
    color: rgb(245, 152, 77);
    transition: all 1s fade-in;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;

}
#modalButton button:focus{
    outline: none;
}
#modalButton button:hover{
    background: rgb(245, 152, 77);
    color: #fff;
}
.modal-body img{
    padding: 5px 100px;
}
