.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#workshop{
    background: #fff;
}
/* Header Style goes here */
#header{
    color:white;
    background: cover;
    background-position: center;
}
#header h1{
    padding-top:100px;
    padding-bottom:20px;
    font-weight: 400;
}
#header h4{
    font-weight: 600;
}
#header button{
    padding: 7px 30px;
    border-radius: 2px;
    transition: all 1s fade-in;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 100px;
    font-size:16px;

}
#header button:focus{
    outline: none;
}

/* Logo Style goes here */
#logo div img{
    height: 160px;
    margin-top: -80px;
    background: #fff;
    padding: 5px;
    border-radius: 80px;
    margin-bottom: 10px;
    width: 160px;
    box-shadow:5px 10px 10px -2px rgba(178, 178, 178, 0.678);
}


/* Description style goes here */
#description{
    padding-top:10px;
    padding-bottom: 50px;
    background-color: #fff;   
}
#description h3{
    padding:0px 10px 10px 15px;
    font-weight: 600;
}
#description div.text-muted{
    padding: 15px;
}
#description .date-container h5{
    padding: 10px;
    color: #fff;
    margin:0px;
}
#description .date-container td{
    font-size: 13px;
}
#description .date-container td strong{
    font-weight: 600;
}

/* Project Css goes here */
#projects{
    background: #f7f7f9;
    padding-bottom: 50px;
}
#projects .projects-header{
    padding:50px 10px 20px 10px;
}
#projects .projects-header h3 span{
    font-weight: 400;
    border-bottom: 2px solid;
    padding-bottom: 10px;
    font-weight: 600;
}
#projects #project-container{
    margin: 60px auto 0px auto;
    border: .3px solid #fff;
    padding: 0px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    width: 1000px;
    background: #fff;
    box-shadow:5px 10px 10px -2px hsla(0, 0%, 70%, .14);
}
@media only screen and (max-width: 1100px) {
    #projects #project-container{
        width: 700px;
        margin: 60px auto;
    }
}

@media only screen and (max-width: 768px) {
    #projects #project-container{
        width: 450px;
        margin: 60px auto;
    }
}

@media only screen and (max-width: 450px) {
    #projects #project-container{
        width: 100%;
        margin: 60px auto;
    }

    #projects{
        padding: 10px;
    }
}

#projects #project-container:hover{
    box-shadow:15px 38px 36px -2px hsla(0, 0%, 70%, .14);
    transform: translateY(-30px);
    cursor: pointer;
}

#projects #project-container #project-container-text{
    padding:0px;
    margin-left:0px; 
    border-left-color: transparent;
}

#projects #project-container #project-container-image{
    padding-right:0px;
    padding-left:0px;
    margin-right:0px; 
}

#projects #project-container #project-container-image .type{
    padding: 5px 8px;
    border: 1px solid transparent;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-weight: 600;
    z-index: 2;
    text-align: center;
    width: initial;
    position: absolute;
    margin: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#projects #project-container #project-container-image .project-image{
    max-width: 100%;
    height: 300px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

#projects #project-container #project-container-text .heading {
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 8px 20px 0px 25px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
}
#projects #project-container #project-container-text .paragraph-2 {
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 10px 25px;
    color: #575757;
    font-size: 14px;
    line-height: 18px;
}

/* Teams css goes here */

$primary: hsl(222,80%,50%);
$primary-light: hsl(222,50%,95%);

$secondary: hsl(350,80%,50%);

$red: hsl(10,80%,50%);
$orange: hsl(50,80%,50%);

@mixin mobile ($size: 640px) {
    @media screen and (max-width: $size) {
        @content;
    }
}

#team{
    padding:50px 10px;
    background-size:cover;
    background-position: center;
}
#team h3{
    padding-top: 50px;
    margin-bottom: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}

.team-card {
    color: inherit;
    cursor: pointer;
    width: 220px;
    min-width: 220px;
    height: 220px;
    min-height: 220px;
    margin: 10px;
    position: relative;
    background: transparent;
  }
  
.front,
.back {
display: flex;
border-radius: 6px;
background-position: center;
background-size: cover;
text-align: center;
justify-content: center;
align-items: center;
position: absolute;
height: 100%;
width: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
transform-style: preserve-3d;
transition: ease-in-out 600ms;
// overflow: hidden;
}
  
.front {
  background-size: cover;
  // background-blend-mode: overlay;
  padding: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  &:before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, adjust-hue($primary, -20deg), $primary);
    opacity: .25;
    z-index: -1;
  }
  .team-card:hover & {
    transform: rotateY(180deg);
  }
  .team-card:nth-child(even):hover & {
    transform: rotateY(-180deg);
  }

  p{
    position: absolute;
    bottom: 20px;
  }
}
  
.back {
  background: linear-gradient(120deg,#f093fb 0,#f5576c 100%);
  transform: rotateY(-180deg);
  padding: 0 2em;
  color: #fff;
  .team-card:hover & {
    transform: rotateY(0deg);
  }
  a{
    padding: 10px;
    color: #fff;
    i{
      font-size: 24px;
    }
  }
  .team-card:nth-child(even) & {
    transform: rotateY(180deg);
  }
    
  .team-card:nth-child(even):hover & {
    transform: rotateY(0deg);
  }
}

/* Plans styling goes here */
#plans{
    padding-bottom: 50px;

}
#plans h3{
    padding-top: 70px;
    margin-bottom: 50px;
    font-weight: 600;
    padding-bottom: 10px;
}


#plans div.plan-container{
    margin: 20px;
    border-radius: 5px;
    background: #fff;
    width: 250px;
    box-shadow:5px 10px 10px -2px rgba(178, 178, 178, 0.678);
}
#plans div.plan-container:hover{
    box-shadow:15px 38px 36px -2px rgba(178, 178, 178, 0.678);
    transform: translateY(-10px);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
#plans div.text-center p{
    padding: 10px;
    color: #fff;
    font-weight: 600;
}
#plans div.plan-details h6{
    padding-top: 20px;
    font-weight: 600;
}
#plans div.plan-details h6 span{
    font-size: 36px;
}
#plans div.plan-details h5{
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 600;
}
#plans div.plan-details hr{
    border-top: 2px;
    margin: 5px 40px 20px 40px;
}
#plans div.plan-details p{
    color: rgb(46, 44, 44);
    padding-bottom: 20px;
    font-size: 13px;
    font-weight: 400;
}
#plans button{
    padding: 7px 30px;
    border-radius: 2px;
    transition: all 1s fade-in;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size:16px;

}
#plans button:focus{
    outline: none;
}

/* Faqs style goes here */
#faqs{
    padding-bottom: 50px;
    background-size: cover;
}
#faqs h3{
    padding-top: 50px;
    margin-bottom: 50px;
    font-weight: 600;
    padding-bottom: 10px;
}

#faqs h3 span{
    color: #d49261;
    border-bottom: 1px solid #d49261;
    padding-bottom: 5px;
}
#faqs .faq-container{
    margin-bottom: 10px;
    margin:5px;
    padding: 15px;
    border: 0.3px solid #e7e7eb;
}
#faqs .faq-container h6{
    font-weight: 600;
    margin-bottom: 3px;
}
#faqs .faq-container h6 button{
    padding: 2px 4px;
    border-radius: 2px;
    border:0px;
    font-weight: 600;
    background: transparent;
}

#faqs .faq-container h6 i{
    padding-right: 10px;
    color:#d49261;
    font-weight: 900;
    padding-left: 15px;
}
#faqs .faq-container p{
    margin-left: 40px;
    margin-top: 0px;
    padding-top: 5px;
    font-size: 13px;
    font-weight: 600;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;

}
