<div id="headerBack" [ngStyle]="{'background-image': 'url('+ HEADER_BACKGOUND +')'}" id="home">

</div>
<div id="content">
    <div id="nuotron">
        <div class="ellipse"></div>
        <div class="dot"></div>
    </div>
    <a id="text" target="_blank">
        <div class="hover">
            <div>Setting the Global Standard</div>
            <div> in Automotive World</div>
        </div>
        <div class="nuotron">S A E </div>
        <div class="agency">AKGEC</div>
    </a>
</div>
<div id="canvas">
</div>