header{
  width: 100%;
  min-height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
#world {
  width: 100%;
  height:100vh;
  overflow: hidden;
}
.header-left{
  padding: 20px;
  
}

.header-left h1{
  font-size: 3.8rem;
  color: #6d6792;
}