<header [ngStyle]="{'background-image': 'url(' + HEADER_BACKGOUND + ')'}">
    <div class="row align-items-center">
        <div class="col-12 col-md-4 text-center">
            <div class="header-left">
                <h1 class="text-left">
                    Setting the Global Standard in Automotive World
                </h1>
                <p>Our Vision is to Continuously Enrich Knowledge Base of Practitioners in Mobility Industry and
                    Institutions in the Service of Humanity.</p>
                <div>
                    <button>Get Started</button>
                </div>
            </div>
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-12 col-md-7">
            <div id="world"></div>
        </div>
    </div>
</header>