#headerBack{
  opacity: 0.3;
  position: absolute;
  height: 100vh;
  width: 100vw;
  &:before {
  content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(circle, #da7e35, #a39c35, #67ac68, #30b2a2, #49b1c9);
    opacity: .7; 
  }
}

#content{
	height: 100vh;
	width: 100vw;
	position: absolute;
	direction: ltr;
	text-align: center;
	font-family: 'Muli', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	z-index: 1000;
	background-color: transparent;
	color: #4c4c4c;
	-webkit-font-smoothing: antialiased;
}
#nuotron {
  top: 50%;
  left: 50%;
  width: 84px;
  height: 84px;
  margin-top: -42px;
  margin-left: -42px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#nuotron,
#nuotron *,
#nuotron *:before {
  display: block;
  position: absolute;
}
#nuotron .ellipse,
#nuotron .dot {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#nuotron .ellipse {
  border: 18px solid #da7e35;
  border-radius: 50%;
}
#nuotron .dot {
  -webkit-animation: dotRotate 4.8s linear infinite;
}
#nuotron .dot:before {
  content: '';
  top: -42px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-radius: 50%;
  background-color: #da7e35;
  -webkit-animation: dotEffect 1.2s ease-in-out infinite;
          animation: dotEffect 1.2s ease-in-out infinite;
}
@-webkit-keyframes dotEffect {
  50% {
    top: 102px;
  }
  0%, 50%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  75% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@keyframes dotEffect {
  50% {
    top: 102px;
  }
  0%, 50%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  75% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@-webkit-keyframes dotRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes dotRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
#text {
  top: 50%;
  left: 50%;
  width: 182px;
  height: 182px;
  color: #4c4c4c;
  margin-top: -91px;
  margin-left: -91px;
  
}
#text,
#text > * {
  display: block;
  position: absolute;
  white-space: nowrap;
  transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}
#text .hover,
#text .website {
  top: 100%;
  left: 50%;
  letter-spacing: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
	color: #4c4c4c;
}
#text .website {
  margin-top: 28px;
  opacity: 0;
}
#text .nuotron,
#text .agency {
  font-size: 48px;
  font-weight: 800;
  line-height: 182px;
  letter-spacing: 7px;
  color: #4c4c4c;
  opacity: 1;
}
#text .nuotron {
  right: 100%;
  margin-right: -18px;
}
#text .agency {
  left: 100%;
}

@media screen and (max-width: 768px) {
  #text {
    width: 91px;
    height: 91px;
    color: #4c4c4c;
    margin-top: -40px;
    margin-left: -40px;
  }
  #text .nuotron,
  #text .agency{
    font-size: 22px;
    line-height: 90px;
  }
  #text .nuotron {
    margin-right: 4px;
  }
}