<header [ngStyle]="{'background-image': 'url(' + HEADER_BACKGOUND + ')'}">
    <div class="row align-items-center">
        <div class="col-12 col-md-1">
        </div>
        <div class="col-12 col-md-4">
            <div class="header-left">
                <h1 class="text-left">
                    Setting the Global Standard in Automotive World
                </h1>
                <p class="text-muted">Our Vision is to Continuously Enrich Knowledge Base of Practitioners in Mobility Industry and
                    Institutions in the Service of Humanity.</p>
                <div class="text-center">
                    <button class="btn">Get Started</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7">
            <div id="world"></div>
        </div>
    </div>
</header>