<div id="login-page">
    <div class="container">
        <form class="form-login" [formGroup]="loginForm" (ngSubmit)="login()">
            <h2 class="form-login-heading">sign in now</h2>
            <div class="login-wrap" id="form">
                <div class="textBox">
                    <input class="text" type="textbox" onkeyup="this.setAttribute('value', this.value);" value="" formControlName="email" [ngStyle]="!loginForm.controls['email'].valid && loginForm.controls['email'].touched ?{'border-color': '#EF9A9A'}:{}"
                    />
                    <label class="label" [ngStyle]="!loginForm.controls['email'].valid && loginForm.controls['email'].touched ?{'color': '#FF5252'}:{}">Email</label>
                    <label class="error text-right" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">Please Enter a valid email</label>
                </div>
                <div class="textBox">
                    <input class="text" type="password" onkeyup="this.setAttribute('value', this.value);" value="" formControlName="password"
                        [ngStyle]="!loginForm.controls['password'].valid && loginForm.controls['password'].touched ?{'border-color': '#EF9A9A'}:{}"
                    />
                    <label class="label" [ngStyle]="!loginForm.controls['password'].valid && loginForm.controls['password'].touched ?{'color': '#FF5252'}:{}">Password</label>
                    <label class="error text-right" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">Please Enter a valid Password</label>
                </div>
                <label class="checkbox">
                    <span class="pull-right">
                        <a data-toggle="modal" href="#myModal"> Forgot Password?</a>
                    </span>
                </label>
                <button class="btn btn-theme btn-block" type="submit" [disabled]="!loginForm.valid">
                    <i class="fa fa-lock"></i> SIGN IN</button>
                <hr>

                <div class="registration">
                    Don't have an account yet?
                    <br>
                    <a class="" routerLink="../signup" routerLinkState="active">
                        Create an account
                    </a>
                </div>
                <div class="row" *ngIf="err">
                    <div class="col-12">
                        <div class="alert alert-danger" role="alert">
                            {{err}}
                        </div>
                    </div>
                </div>

            </div>
            <!--Forgot password  Modal -->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Forgot Password ?</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <form [formGroup]="forgotForm" (ngSubmit)="forgot()" id="forgot">
                            <div class="modal-body">
                                <p>Enter your e-mail address below to reset your password.</p>
                                <div class="textBox">
                                    <input class="text" type="textbox" onkeyup="this.setAttribute('value', this.value);" value="" formControlName="email" [ngStyle]="!forgotForm.controls['email'].valid && forgotForm.controls['email'].touched ?{'border-color': '#EF9A9A'}:{}"
                                    />
                                    <label class="label" [ngStyle]="!forgotForm.controls['email'].valid && forgotForm.controls['email'].touched ?{'color': '#FF5252'}:{}">Email</label>
                                    <label class="error text-right" *ngIf="!forgotForm.controls['email'].valid && forgotForm.controls['email'].touched">Please Enter a valid email</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                                <button class="btn btn-theme" type="submit" [disabled]="!forgotForm.valid">Submit</button>
                            </div>
                        </form>
                        <div id="emailSubmit">
                            <div class="modal-body">
                                <div class="alert alert-danger" role="alert" id="errAlert">
                                    Email doesn't exist please try again with a valid email
                                </div>
                                <div class="alert alert-success" role="alert" id="emailAlert">
                                    Password reset link has been sent to your email address
                                </div>
                                <div class="text-center spinner" id="spinner2">
                                    <br>
                                    <br>
                                    <i class="fa fa-spinner fa-4x fa-spin" aria-hidden="true"></i>
                                    <br>
                                    <h4>Please Wait!</h4>
                                    <br>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->
        </form>
        <div class="text-center spinner" id="spinner">
            <br>
            <br>
            <i class="fa fa-spinner fa-4x fa-spin" aria-hidden="true"></i>
            <br>
            <h4>Please Wait!</h4>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>