/* This is header section styles */
#header{
    background: hsl(238, 13%, 46%);
    color: #fff;
}

#header .img-section{
    background-size: cover;
    padding: 70px 2px;
}

#header .img-section h1{
    font-weight: 200;

}

/* This is contact form styles */
#contactForm .contact-left{
    background: hsl(238, 13%, 46%);
    color: #fff;
    padding: 20px;
    padding-bottom: 100px;
}

#contactForm .contact-left .contact-left-header{
    margin-top: 50px;
}

#contactForm .contact-left .contact-left-header p{
    margin-bottom: 50px;
}

#contactForm .contact-left .contact-main{
    margin-bottom: 25px;
}
#contactForm .contact-left .contact-main p{
    margin: 0px 3px;
}
#contactForm .contact-left .contact-main p span{
    color: rgb(245, 152, 77);
}
#contactForm .contact-left .contact-main h6{
    margin: 3px;
    font-weight: 600
}
.form-right{
    padding-left: 30px;
    padding-top: 70px;
    color: #656684;
}
.form-right h3{
    margin-bottom: 0px;
}
.form-right p{
    margin-top: 0px;
    font-size: 14px;
}
form{
    padding:30px;
}
form textarea{
    background: transparent;
    width: 93%;
    margin-top: 15px;
    border: 2px solid #E3E7EA;
}
form textarea:focus{
    outline: none;
}
form button{
    margin-top: 15px;
    background: #656684;
}
.textBox {
    position: relative;
    width: 100%;
    padding-top: 10px;
    height: 45px;
    display: inline-flex;
    margin-bottom: 3vh;
  }
  .textBox .text {
    font-weight: 500;
    width: calc(100% - 2vw);
    height: 27px;
    padding-left: 0.5vw;
    background-color: transparent;
    color: rgb(54, 52, 52);
    position: absolute;
    bottom: 0px;
    outline: none;
    border-style: solid;
    border-color: #E3E7EA;
    border-width: 0px 0px 2px 0px;
    font-size: 20px;
    -webkit-transition: border-color 0.45s linear;
    transition: border-color 0.45s linear;
  }
  
  .textBox > input.text:focus {
    border-color: #656684;
  }
  
  .textBox .label {
    opacity: 0.7;
    pointer-events: none;
    z-index: 1;
    color: #656684;
    position: absolute;
    padding-left: 0.5vw;
    bottom: 3px;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition-property: opacity bottom font-size;
    transition-property: opacity bottom font-size;
    -webkit-transition-duration: 0.45s;
    transition-duration: 0.45s;
    -webkit-transition-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
    transition-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
  }
  
  .textBox .error {
    position: absolute;
    margin-top: 40px;
    width: 100%;
    color: #FF5252;
    font-size: 12px;
    font-weight: 400;
  }
  .error-border{
    border-color: #FF5252;
  }
  
  .textBox > input.text:focus ~ .label, .textBox > input.text:not([value=""]) ~ .label {
    opacity: 1;
    z-index: 1;
    bottom: 55%;
    font-size: 12px;
    color: #81C784;
  }
  
  .textBox > input.text:focus ~ .label {
    color: #656684;
  }
  .textBox > input.text:not([value=""]){
    border-color: #A5D6A7;
  }