<!-- about_us part start-->
<section class="about_us section_padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 col-lg-6">
                <div class="about_us_text">
                    <h2>About Us</h2>
                    <p>SAE INDIA Founded in 1994, is an affiliate society of SAE International, registered as an Indian
                        non-profit
                        engineering and scientific society dedicated to the advancement of mobility community in India.
                        As an individual member driven society of mobility practitioners, SAE INDIA comprises members
                        who are individuals from the mobility community, which includes engineers and executives.
                        Principal emphasis is placed on transport industries such as automotive, aerospace, and
                        commercial vehicles. SAE India holds a variety of competitions every year for engineering
                        students across the country.
                        <br>
                        SAE-AKGEC is student chapter of SAE INDIA formed by student of Akgec. Prime objective of
                        SAE-AKGEC is to enhance skills of students in field automobiles and set new benchmarks in world
                        of automobiles
                    
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="learning_img">
                    <img src="assets/logo1.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <img src="assets/left_sharp.png" alt="" class="left_shape_1">
    <img src="assets/about_shape.png" alt="" class="about_shape_1">
    <img src="assets/animate_icon/Shape-16.png" alt="" class="feature_icon_1">
    <img src="assets/animate_icon/Shape-1.png" alt="" class="feature_icon_4">
</section>
<!-- about_us part end-->