<section class="cta_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="cta_text text-center">
                    <h2>Join Us</h2>
                    <p>SAE-AKGEC conducts recruitment at the start of August for the second-year
                        students. </p>
                    <!-- <a routerLink="/registration" class="btn_2 banner_btn_1">Recruitment Registration </a> -->
                    <a href="#" class="btn_2 banner_btn_2">Subscribe to newsletter !</a>
                </div>
            </div>
        </div>
    </div>
</section>