#verify div.main {
    min-height: 100vh;
}

.panel {
    background: #ffffff;
    padding: 20px;
    padding-bottom: 10px;
    border: 1px solid #e6e2e2;
    box-shadow: 5px 10px 10px -2px rgba(0, 0, 0, 0.479);
}

.panel .panel-head p span {
    color: #656684;
}

.panel .panel-head h4 {
    text-transform: uppercase;
    font-weight: 100;
}

.panel .panel-body .verify-button-box {
    padding: 10px;
}

.panel .panel-body .verify-button-box button {
    border-radius: 0px;
    width: 100%;
    background: #656684;
    text-transform: capitalize;
}

.panel .panel-body .verify-button-box button:hover {
    cursor: pointer;
}

.hide {
    display: none;
    -webkit-transition: all 1 ease-out;
    -moz-transition: all 1 ease-out;
    transition: all 1 ease-out;
}

.display {
    display: block;
    -webkit-transition: all 1 ease-in .5;
    -moz-transition: all 1 ease-in .5;
    transition: all 1 ease-in .5;
}

#verifyEmailAlert .verify-alert-icon {
    padding: 20px;
    color: #f0ad4e!important;
    font-size: 70px;
    transition: all 1s ease-in;
    -webkit-text-stroke: 20px #fff;
}

#verifyEmailAlert .verify-alert-error-icon {
    padding: 20px;
    color: #721c24!important;
    font-size: 70px;
    transition: all 1s ease-in;
    -webkit-text-stroke: 20px #fff;
}

#verifyEmailAlert .verify-alert-message {
    color: #28a745;
    font-size: 16px;
    -webkit-transition: all 1 ease-in 1;
    -moz-transition: all 1 ease-in 1;
    transition: all 1 ease-in 1;
}

#verifyEmailAlert .verify-alert-error-message {
    color: #656684;
    font-size: 16px;
    -webkit-transition: all 1 ease-in 1;
    -moz-transition: all 1 ease-in 1;
    transition: all 1 ease-in 1;
}

.spinner {
    color: #656684;
    background-color: #fff;
}

.textBox {
    position: relative;
    width: 100%;
    padding-top: 10px;
    height: 45px;
    display: inline-flex;
    margin-bottom: 3vh;
}

.textBox .text {
    font-weight: 500;
    width: calc(100% - 2vw);
    height: 27px;
    padding-left: 0.5vw;
    background-color: transparent;
    color: rgb(54, 52, 52);
    position: absolute;
    bottom: 0px;
    outline: none;
    border-style: solid;
    border-color: #E3E7EA;
    border-width: 0px 0px 2px 0px;
    font-size: 20px;
    -webkit-transition: border-color 0.45s linear;
    transition: border-color 0.45s linear;
}

.textBox>input.text:focus {
    border-color: #656684;
}

.textBox .label {
    opacity: 0.7;
    pointer-events: none;
    z-index: 1;
    color: #656684;
    position: absolute;
    padding-left: 0.5vw;
    bottom: 3px;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition-property: opacity bottom font-size;
    transition-property: opacity bottom font-size;
    -webkit-transition-duration: 0.45s;
    transition-duration: 0.45s;
    -webkit-transition-timing-function: cubic-bezier(.68, -0.55, .27, 1.55);
    transition-timing-function: cubic-bezier(.68, -0.55, .27, 1.55);
}

.textBox .error {
    position: absolute;
    margin-top: 40px;
    width: 100%;
    color: #FF5252;
    font-size: 12px;
    font-weight: 400;
}

.error-border {
    border-color: #FF5252;
}

.textBox>input.text:focus~.label, .textBox>input.text:not([value=""])~.label {
    opacity: 1;
    z-index: 1;
    bottom: 55%;
    font-size: 12px;
    color: #81C784;
}

.textBox>input.text:focus~.label {
    color: #656684;
}

.textBox>input.text:not([value=""]) {
    border-color: #A5D6A7;
}