<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Alumni</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </section>
<section class="alumini my-5"> -->
    <div class="container ">
        <div class="row " data-aos="zoom-in">
            <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 my-4">
                <h3 style="color: #162f46">SAE Alumni</h3>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">

                <div class="first">
                    <div class="alumini_pics_container  zoom">
                        <img src="/assets/compressjpeg/dixit.jpg" class="alumini_pics lazy">
                    </div>

                    <div class="alumini_pics_container  zoom">
                        <img src="/assets/compressjpeg/Ayush.jpg" class="alumini_pics lazy">
                    </div>
                    <div class="alumini_pics_container  zoom">
                        <img src="/assets/compressjpeg/asa.jpg" class="alumini_pics lazy">
                    </div>

                    <div class="alumini_pics_container  zoom">
                        <img src="/assets/compressjpeg/utsav.jpg" class="alumini_pics lazy">
                    </div>

                    <div class="alumini_pics_container  zoom">
                        <img src="/assets/compressjpeg/shashank.jpg" class="alumini_pics lazy">
                    </div>
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/10.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/somya.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/deepti.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/aniket.jpg" class="alumini_pics lazy">
                </div>
                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/a.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/b.jpg" class="alumini_pics lazy">
                </div>
                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/c.jpg" class="alumini_pics lazy">
                </div>


                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/d.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/e.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/f.jpg" class="alumini_pics lazy">
                </div>
                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/h.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/i.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/j.jpg" class="alumini_pics lazy">
                </div>
                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/k.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/l.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/m.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/n.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/o.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/p.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/q.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/r.jpg" class="alumini_pics lazy">
                </div>
                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/s.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/t.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/u.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/v.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/w.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/x.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/y.jpg" class="alumini_pics lazy">
                </div>

                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/z.jpg" class="alumini_pics lazy">
                </div>
                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/ab.jpg" class="alumini_pics lazy">
                </div>
                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/ac.jpg" class="alumini_pics lazy">
                </div>
                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/ad.jpg" class="alumini_pics lazy">
                </div>
                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/ae.jpg" class="alumini_pics lazy">
                </div>
                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/as.jpg" class="alumini_pics lazy">
                </div>
                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/123.jpg" class="alumini_pics lazy">
                </div>
                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/124.jpg" class="alumini_pics lazy">
                </div>
                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/125.jpg" class="alumini_pics lazy">
                </div>
                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/126.jpg" class="alumini_pics lazy">
                </div>
                <div class="alumini_pics_container  zoom">
                    <img src="/assets/compressjpeg/127.jpg" class="alumini_pics lazy">
                </div>

            </div>
        </div>
    </div>
</section>