<div [ngStyle]="{'background-image': 'url('+ ABOUT_IMAGE +')'}" class="main-container" id="workshops">
  <div *ngFor="let workshop of workshops; 
             let index =index;
             let isOdd=odd;
             let isEven=even">
    <div *ngIf="isOdd" class="row main-row">
      <div class="col-md-6 col-12 order-md-first order-last">
        <div class="row text-container">
          <div class="col-lg-4 col-md-2 col-12">
          </div>
          <div class="col-lg-8 col-md-10 col-12">
            <h2>{{workshop.name}}</h2>
            <p>{{workshop.short_description}}</p>
            <p>
              <button class="theme-button-lg">Learn More</button>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 order-md-last order-first">
        <img src="{{workshop.logo_url}}">
      </div>
    </div>
    <div *ngIf="isEven" class="row main-row">
      <div class="col-md-6 col-12">
        <img src="{{workshop.logo_url}}">
      </div>
      <div class="col-md-6 col-12">
        <div class="row text-container justify-content-left">
          <div class="col-lg-8 col-md-10 col-12">
            <h2>{{workshop.name}}</h2>
            <p>{{workshop.short_description}}</p>
            <p>
              <button class="theme-button-lg">Learn More</button>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>